{% extends "layouts/base.html" %}

{% block title %} Category Summary {% endblock %} 

<!-- Specific CSS goes HERE -->
{% block stylesheets %}
<style>
    .right-align {
        float: right;
        clear: both; /* Clear float to prevent overlapping */
    }
</style>
{% endblock stylesheets %}

{% block content %}
   <!-- [ Main Content ] start -->
   <div class="pcoded-main-container">
        <div class="pcoded-wrapper">

            <div class="pcoded-content">
                <div class="pcoded-inner-content">
                    <!-- [ breadcrumb ] start -->

                    <div class="page-block">
                        <div class="row align-items-center">
                            <div class="col-md-12">
                                <div class="page-header-title">
                                    <h5 class="m-b-10"></h5>
                                </div>
                                <ul class="breadcrumb">
                                    <li class="breadcrumb-item"><i class="feather icon-home"></i><a href="{% url 'networth' %}"> Networth</a></li>
                                    <li class="breadcrumb-item"><a href="javascript:">Category</a></li>
                                </ul>

                            </div>
                        </div>
                    </div>
                
                    <!-- [ breadcrumb ] end -->
                    <div class="main-body">
                        <div class="page-wrapper">
                            <!-- <div class="row">
                                <div class="col-xl-12">
                                    <p class="text-center"><h5>Total allocation for asset is : {{total_selected_asset_allocation}} Lakhs </h5></p>
                                    <p class="text-center"><h5>Total investment for asset is : {{total_invested_amount}} Lakhs</h5></p>
                                     
                                </div>
                            </div> -->
                            <div class="row">
                                <div class="col-sm-9">
                                    <div class="card">
                                        <div class="card-header" style="border-bottom:none;padding-bottom:0px;">
                                            <a class="btn btn-primary" href="{% url 'networth' %}" type="submit" style="width: 1px; height:40px" data-toggle="tooltip" data-original-title="Back">
                                                <i class="feather icon-arrow-left"style="display: flex; justify-content: center; align-items: center;"></i>
                                            </a>
                                            <h5>
                                            Category Summary
                                            </h5>
                                            <a class="right-align"  href="{% url 'view_asset_groups' category_id %}">Edit Category <i class="feather icon-edit"></i></a>       
                                        </div>
                                        <div class="card-block table-border-style" style="padding-top:10px">
                                            <div class="table-responsive">
                                                {% if  assets %}
                                                <table class="table">
                                                    <thead>
                                                        <tr>
                                                            <th>#</th>
                                                            <th>Asset Name</th>
                                                            <th>Weightage</th>
                                                            <th>Amount Allocated</th>
                                                            <th>Amount Invested</th>
                                                            <th>Invest %</th>
                                                            <th>Current Value</th>
                                                            <th>P/L Amount</th>
                                                            <th>P/L %</th>
                                                            <th>Action</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        {% for asset in assets %}
                                                        <tr>
                                                            <th scope="row">{{forloop.counter}}</th>
                                                            <td data-id="name-{{asset.name}}" data-type="name">{{asset.name}}</td>
                                                            <td data-id="weighatge-{{asset.weightage}}" data-type="weightage">{{asset.weightage}}</td>
                                                            <td data-id="allocation-{{asset.get_asset_allocation}}" data-type="allocation">{{asset.get_asset_allocation}}</td>
                                                            <td data-id="amount-{{asset.total_invested_amount}}" data-type="invested_amount">{{asset.total_invested_amount}}</td>
                                                            <td data-id="diff-{{asset.get_diff}}" data-type="diff">{{asset.get_diff}}</td>
                                                            <td data-id="current-{{asset.current_value_in_units}}" data-type="current_value">{{asset.current_value_in_units}}</td>
                                                            <td data-id="pnlamount-{{asset.pnl_amount}}" data-type="pnl_amount">{{asset.pnl_amount}}</td>
                                                            <td style="color: {% if asset.pnl_percentage == 0 %}black{% elif asset.pnl_percentage > 0 %}green{% else %}red{% endif %}; font-weight: bold;">{% if asset.pnl_percentage > 0 %}+{% endif %}{{ asset.pnl_percentage }}%</td>
                                                            <td><a class="btn btn-primary" href="{% url 'assets' asset.id %}" type="submit">View Details</a></td>
                                                        </tr>
                                                        {% endfor %}
                                                    </tbody>
                                                    {% else %}
                                                        No Asset-Groups allocation is done yet
                                                    {% endif %}
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>  
                                <div class="col-sm-3">
                                    <div class="card card-social">
                                        <div class="card-block border-bottom">
                                            <div class="row align-items-center justify-content-center">
                                                <div class="col text-left">
                                                    Current value
                                                </div>
                                                <div class="col text-right">
                                                    <h5>{{asset_current_value}}</h5>
                                                    <h5 class="text-c-green mb-0">+{{pnl_percentage}}% <span class="text-muted">{{pnl_amount}}</span></h5>  
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card-block">
                                            <div class="row align-items-center justify-content-center card-active">
                                                <div class="col-6">
                                                    <h6 class="text-center  m-b-10"><span class="text-muted m-r-5">Invested:</span>{{total_invested_amount}}
                                                        <a href="{% url 'view_base_unit' %}">{{base_unit_name}}</a>
                                                    </h6>
                                                    <div class="progress">
                                                        <div class="progress-bar progress-c-theme2" role="progressbar" style="width:{{ total_invested_percentage|safe }}%;height:6px;" 
                                                        aria-valuenow="{{total_invested_amount}}" aria-valuemin="0" aria-valuemax="{{total_asset_allocation}}"></div>
                                                    </div>
                                                </div>
                                                <div class="col-6">
                                                    <h6 class="text-center m-b-10"><span class="text-muted m-r-5">Allocated:</span>{{total_selected_asset_allocation}}
                                                        <a href="{% url 'view_base_unit' %}">{{base_unit_name}}</a>
                                                    </h6>
                                                    
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card daily-sales">
                                        <div class="card-block">
                                            <div class="row d-flex align-items-center">
                                                <div class="col-9">
                                                    <h4 class="f-w-300 d-flex align-items-center m-b-0">
                                                    Total amount invested
                                                    </h4>
                                                </div>
                                                <div class="col-3 text-right">
                                                    <p class="m-b-0">{{total_invested_percentage}}%</p>
                                                </div>
                                            </div>
                                            <div class="progress m-t-30" style="height: 7px;">
                                                <div class="progress-bar progress-c-theme" role="progressbar" style="width: {{ total_invested_percentage|safe }}%;" 
                                                aria-valuenow="{{total_invested_amount}}" aria-valuemin="0" aria-valuemax="{{total_networth_amount}}"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card daily-sales">
                                        <div class="card-block">
                                            <div class="row d-flex align-items-center">
                                                <div class="col-9">
                                                    <h4 class="f-w-300 d-flex align-items-center m-b-0">
                                                    Total weightage used
                                                    </h4>
                                                </div>
                                                <div class="col-3 text-right">
                                                    <p class="m-b-0">{{weightage_used}}%</p>
                                                </div>
                                            </div>
                                            <div class="progress m-t-30" style="height: 7px;">
                                                <div class="progress-bar progress-c-theme" role="progressbar" style="width: {{ weightage_used|safe }}%;" 
                                                aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>   
{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}