{% extends "layouts/base.html" %}
{% load static %}

{% block title %} Create Backup {% endblock %} 

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <!-- [ Main Content ] start -->
    <div class="pcoded-main-container">
        <div class="pcoded-wrapper">
            <div class="pcoded-content">
                <div class="pcoded-inner-content">
                    <!-- [ breadcrumb ] start -->
                    <div class="page-header">
                        <div class="page-block">
                            <div class="row align-items-center">
                                <div class="col-md-12">
                                    <div class="page-header-title">
                                        <h5 class="m-b-10"></h5>
                                    </div>
                                    <ul class="breadcrumb">
                                        <li class="breadcrumb-item"><a href="{% url 'networth'%}"><i class="feather icon-home"></i> Networth</a></li>
                                        <li class="breadcrumb-item"><a href="{% url 'view_backups'%}"> Backup</a></li>
                                        <li class="breadcrumb-item"><a href="javascript:">Create Backup</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- [ breadcrumb ] end -->
                    <div class="main-body">
                        <div class="page-wrapper">
                            <div class="row">
                                <div class="col-sm-3">
                                </div>
                                <div class="col-sm-5">
                                    <div class="card">
                                        <div class="card-body">
                                            <h5>Create a new backup</h5>
                                            <hr>
                                            <div class="form-container">
                                                <form method="post" class="needs-validation" novalidate>
                                                    {% csrf_token %}
                                                    <div class="form-group">
                                                        <label for="{{ form.name.id_for_label }}">Backup Name</label>
                                                        <input type="text" name="{{ form.name.name }}" id="{{ form.name.id_for_label }}" required="" class="form-control" value="{%if form.name.value%}{{form.name.value}}{%endif%}">
                                                        <div class="invalid-feedback">
                                                            Please enter a valid name.
                                                        </div>
                                                        {% if form.errors.name %}
                                                            <div class="invalid-feedback" style="display: block;font-size: 85%;" >
                                                                <i class="feather icon-slack"></i>
                                                                {{ form.errors.name|join:", " }}
                                                            </div>
                                                        {% endif %}
                                                        suggestions : March2024, 280124, 02Sep2024 
                                                   </div>
                                                  <button type="submit" class="btn btn-primary" style="width: 85px;">Add</button>
                                                  <a href="{% url 'view_backups' %}" class="btn btn-secondary">Cancel</a>
                                                  </form> 
                                                    {% if error_message %}
                                                      <div class="invalid-feedback" style="display: block;font-size: 90%;">
                                                        <i class="feather icon-slack"></i>
                                                          {{error_message}}
                                                      </div>
                                                  {% endif %}
                                            </div>
                                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- [ Main Content ] end -->

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

<script src="{% static 'assets/js/plugins/bouncer.min.js' %}"></script>
<script src="{% static 'assets/js/pages/form-validation.js' %}"></script>

<script>
    // Get references to the progress bar and the text box
 const progressBar = document.getElementById('bar_edit_category');
 const userInput = document.getElementById('id_weightage');
 
 userInput.addEventListener('input', updateProgressBar);

 // Function to update the progress bar based on user input
 function updateProgressBar() {
   // Get the user input value and convert it to a number
   const inputNumber = parseFloat(userInput.value);

   // Check if the input is a valid number
   if (!isNaN(inputNumber)) {

      //const validInput = (inputNumber*100/49);
     // Ensure the input is within the range of 0 to 100
     const validInput = Math.max(0, Math.min(100, inputNumber));

     var available_weightage = "{{available_weightage}}"

     const other = (validInput*100)/available_weightage;

     // Set the width of the progress bar based on the valid input
     progressBar.style.width = other + '%';
     progressBar.setAttribute('aria-valuenow', validInput);

     // You can also add more logic to update the visual appearance of the progress bar, e.g., changing colors based on the input value.
   }
 }
 </script>
{% endblock javascripts %}
