{% extends "layouts/base.html" %}
{% load static %}

{% block title %} Settings {% endblock %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}
<!-- enjoyhint css -->
<link rel="stylesheet" href="{% static 'assets/css/plugins/introjs.min.css' %}">
{% endblock stylesheets %}

{% block content %}
   <!-- [ Main Content ] start -->
   <div class="pcoded-main-container">
        <div class="pcoded-wrapper">

            <div class="pcoded-content">
                <div class="pcoded-inner-content">
                    <!-- [ breadcrumb ] start -->

                    <div class="page-block">
                        <div class="row align-items-center">
                            <div class="col-md-12">
                                <div class="page-header-title">
                                    <h5 class="m-b-10"></h5>
                                </div>
                                <ul class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="{% url 'networth'%}"><i class="feather icon-home"></i> Networth</a></li>
                                    <li class="breadcrumb-item"><a href="{% url 'view_networth'%}">Configuration</a></li>
                                    <li class="breadcrumb-item"><a href="javascript:"> Settings</a></li>
                                    {% if is_edit %}
                                    <li class="breadcrumb-item"><a href="javascript:">Edit</a></li>
                                    {% endif %}
                                </ul>
                            </div>
                        </div>
                    </div>
                
                    <!-- [ breadcrumb ] end -->
                    <div class="main-body">
                        <div class="page-wrapper">
                            <!-- [ Main Content ] start -->
                            
                                {% if is_edit %}
                                <div class="d-flex justify-content-center">
                                    <div class="row">
                                        <div class="card">
                                            <div class="card-body">
                                                <h5>Edit Networth</h5>
                                                <hr>
                                                <div class="form-container">
                                                    <form method="post" class="needs-validation" novalidate action="">
                                                        {% csrf_token %}
                                                        <div class="form-group">
                                                            <label for="{{ form.name.id_for_label }}">Name</label>
                                                            <input type="text" name="{{ form.name.name }}" id="{{ form.name.id_for_label }}" required="" class="form-control" value="{% if form.name.value %}{{ form.name.value }}{% endif %}">
                                                            <div class="invalid-feedback">
                                                                Please enter a valid name.
                                                            </div>
                                                            {% if form.errors.name %}
                                                                <div class="invalid-feedback" style="display: block;font-size: 85%;" >
                                                                    <i class="feather icon-slack"></i>
                                                                    {{ form.errors.name|join:", " }}
                                                                </div>
                                                            {% endif %}
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="{{ form.amount.id_for_label }}">Amount</label>
                                                            <input type="text" class="form-control" name="{{ form.amount.name }}" required="" id="{{ form.amount.id_for_label }}" value="{% if form.amount.value %}{{ form.amount.value }}{% endif %}">
                                                            <div class="invalid-feedback">
                                                                Please enter a valid amount.
                                                            </div>
                                                            {% if form.errors.amount %}
                                                                <div class="invalid-feedback" style="display: block;font-size: 85%;" >
                                                                    <i class="feather icon-slack"></i>
                                                                    {{ form.errors.amount|join:", " }}
                                                                </div>
                                                            {% endif %}
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="{{ form.amount.id_for_label }}">Unit</label>
                                                            <input type="text" class="form-control" name="{{ form.base_unit.name }}"
                                                            id="{{ form.name.id_for_label }}" value="{{base_unit.name}}" readonly>
                                                            
                                                        </div>
                                                        <div class="form-group">
                                                            <input type="submit" value="Submit" class="btn btn-primary">
                                                            <a href="{% url 'view_networth_settings' %}" class="btn btn-secondary">Cancel</a>
                                                        </div>  
                                                    </form>
                                                    {% if error_message %}
                                                    <div class="invalid-feedback" style="display: block; font-size: 90%;">
                                                        <i class="feather icon-slack"></i>
                                                        {{ error_message }}
                                                    </div>
                                                    {% endif %}
                                                </div>
                                            </div>
                                        </div> 
                                    </div>
                                </div>
                                   
                                {% else %}
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="card">
                                            <div class="card-header">
                                                <h5>Networth settings</h5>
                                            </div>
                                            <div class="card-block">
                                                <div class="table-responsive">
                                                    {% if is_edit %} 
                                                    <form method="post" action="">
                                                        {% csrf_token %}
                                                        {{ form.as_p }}
                                                        <input type="submit" value="Submit">
                                                    </form>
                                                    {% else %}
                                                        {% if request.method == "GET" %}           
                                                            {% if  networth_list %}
                                                            <table class="table networth-table-step2">
                                                                <thead>
                                                                    <tr>
                                                                        <th>#</th>
                                                                        <th>Name</th>
                                                                        <th>Amount</th>
                                                                        <th>Unit</th>
                                                                        <th>Action</th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                    
                                                                    {% for networth in networth_list %}
                                                                    <tr>
                                                                        <th scope="row">{{ forloop.counter }}</th>
                                                                        <td data-id="{{ networth.name }}" data-type="name">{{ networth.name }}</td>
                                                                        <td class = "networth-amount-step2" data-id="{{ networth.amount }}" data-type="amount">{{ networth.amount }}</td>
                                                                        <td data-id="{{ base_unit.name }}" data-type="unit">
                                                                            <a class="networth-base-unit-step3" href="{% url 'view_base_unit' %}">{{base_unit.name}}</a>
                                                                        </td>
                                                                        <td>
                                                                            <a class="btn btn-primary edit-button-step1" href="networth/{{ networth.id }}/edit" type="submit">Edit</a>
                                                                        </td>
                                                                    
                                                                    </tr>
                                                                    {% endfor %}
                                                                    
                                                                </tbody>
                                                                
                                                                {% else %}
                                                                {% endif %}
                                                            </table>
                                                            
                                                        {% endif %}
                                                    {% endif %}
                                                    <!-- Delete confirmation modal -->
                                                    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
                                                        <div class="modal-dialog" role="document">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                            <h5 class="modal-title" id="deleteModalLabel">Confirm Delete</h5>
                                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                <span aria-hidden="true">&times;</span>
                                                            </button>
                                                            </div>
                                                            <div class="modal-body">
                                                            Are you sure you want to delete this networth?
                                                            </div>
                                                            <div class="modal-footer">
                                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                                                            <button type="button" class="btn btn-danger" id="confirmDelete">Delete</button>
                                                            </div>
                                                        </div>
                                                        </div>
                                                    </div>
                                                </div>
                                        </div>
                                    </div>
                                </div>
                                {% endif %}
                            </div>
                            <!-- [ Main Content ] end -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
   </div>
   <!-- [ Main Content ] end -->
{% endblock %}

<!-- Specific JS goes HERE -->
{% block javascripts %}
<script src="{% static 'assets/js/plugins/bouncer.min.js' %}"></script>
<script src="{% static 'assets/js/pages/form-validation.js' %}"></script>

  <script>
    $(function() {
      $('form').on('click', 'button.btn-danger', function() {
        $('#deleteModal').modal('show');
        var form = $(this).closest('form');
        $('#confirmDelete').on('click', function() {
          form.submit();
        });
        return false;
      });
    });
  </script>

  <!-- tour Js -->
<script src="{% static 'assets/js/plugins/intro.min.js' %}"></script>
<script type="module" src="{% static 'assets/js/pages/ac-tour-settings.js' %}"></script>

<script type="text/javascript">
    var user_tour_status = "{{user_tour.status}}";
    var token = '{% csrf_token %}'
    let valueStartIndex = token.indexOf('value="') + 7; // 7 is the length of 'value="'
    let valueEndIndex = token.indexOf('">', valueStartIndex);
    let csrftoken = token.substring(valueStartIndex, valueEndIndex);
    let steps = '"' +'{{user_tour_steps_json  | escapejs }}' + '"';
    let user_tour_steps_json = '{{user_tour_steps_json  | escapejs }}';
    
</script>

{% endblock javascripts %}
