{% extends "layouts/base.html" %}
{% load static %}

{% block title %} Nominee {% endblock %} 

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <!-- [ Main Content ] start -->
    <div class="pcoded-main-container">
        <div class="pcoded-wrapper">

            <div class="pcoded-content">
                <div class="pcoded-inner-content">
                    <div class="main-body">
                        <div class="page-wrapper">
                            <!-- [ Main Content ] start -->
                            <div class="row">
                                <div class="col-sm-8">
                                    <div class="card">
                                        <div class="card-header">
                                            <h5>Edit Info</h5>
                                        </div>
                                        <div class="card-block">
                                            <div class="row">
                                                <div class="form-container" style="width: 100%;padding:15px;">
                                                    <form method="post" class="needs-validation" novalidate action="">
                                                        {% csrf_token %}
                                                        <div class="row">
                                                            <div class="col-sm-6 mb-4">
                                                                <div class="form-group">
                                                                    <label for="lblUsername">Nominee Name</label>
                                                                    <input class="form-control" id="txtUsername" readonly value="{{ request.user.username }}">
                                                                </div>
                                                            </div>
                                                            <div class="col-sm-6 mb-4">
                                                                <div class="form-group">
                                                                    <label {% if not request.user.email %} class="text-danger" {% endif %} 
                                                                           for="lblEmailAddress">Nominee Email</label>
                                                                    <input type="email"
                                                                           {% if request.user.email %} readonly value="{{ request.user.email }}" {% endif %}  
                                                                           class="form-control" id="txtEmail" placeholder="Enter email">
                                                                </div>
                                                            </div>
                                                            <div class="col-sm-12 mb-4">
                                                                <div class="form-group">
                                                                    <label for="{{ form.bio.id_for_label }}">Additional Comments for mail</label>
                                                                    <textarea type="email" class="form-control" name="{{ form.bio.name }}" id="{{ form.bio.id_for_label }}" 
                                                                    aria-describedby="bioHelp" placeholder="Bio">{%if form.bio.value%}{{form.bio.value}}{%endif%}</textarea> 
                                                                    <small id="abf" class="form-text text-muted">We'll show this on your profile.</small>
                                                                    {% if form.errors.bio %}
                                                                        <div class="invalid-feedback" style="display: block;font-size: 85%;" >
                                                                            <i class="feather icon-slack"></i>
                                                                            {{ form.errors.bio|join:", " }}
                                                                        </div>
                                                                    {% endif %} 
                                                                </div>
                                                            </div>
                                                            <div class="col-sm-12 mb-4">
                                                                <div class="form-group">
                                                                    <button type="submit"  id="submitBtn" class="btn btn-primary" style="display: none;">Submit</button>
                                                                    <a href="{% url 'networth' %}" class="btn btn-secondary">Back to Home page</a>
                                                                </div>
                                                            </div>
                                                            <div class="col-sm-12 mb-4">
                                                                <div class="nav flex-column nav-pills list-group list-group-flush list-pills"
                                                                id="user-set-tab" role="tablist" aria-orientation="vertical">
                                                                    <a class="nav-link list-group-item list-group-item-action active"
                                                                        id="user-set-profile-tab" data-bs-toggle="pill" href="#user-set-profile"
                                                                        role="tab" aria-controls="user-set-profile" aria-selected="true">
                                                                    <span class="f-w-500"><i class="feather icon-user m-r-10 h5 "></i>Profile
                                                                    Overview</span>
                                                                    <span class="float-end"><i class="feather icon-chevron-right"></i></span>
                                                                    </a>
                                                                    <a class="nav-link list-group-item list-group-item-action"
                                                                        id="user-set-information-tab" data-bs-toggle="pill"
                                                                        href="#user-set-information" role="tab" aria-controls="user-set-information"
                                                                        aria-selected="false">
                                                                    <span class="f-w-500"><i
                                                                        class="feather icon-file-text m-r-10 h5 "></i>Personal
                                                                    Information</span>
                                                                    <span class="float-end"><i class="feather icon-chevron-right"></i></span>
                                                                    </a>
                                                                    <a class="nav-link list-group-item list-group-item-action"
                                                                        id="user-set-account-tab" data-bs-toggle="pill" href="#user-set-account"
                                                                        role="tab" aria-controls="user-set-account" aria-selected="false">
                                                                    <span class="f-w-500"><i class="feather icon-book m-r-10 h5 "></i>Nominee
                                                                    Information</span>
                                                                    <span class="float-end"><i class="feather icon-chevron-right"></i></span>
                                                                    </a>
                                                                    <a class="nav-link list-group-item list-group-item-action"
                                                                        id="user-set-passwort-tab" data-bs-toggle="pill" href="#user-set-passwort"
                                                                        role="tab" aria-controls="user-set-passwort" aria-selected="false">
                                                                    <span class="f-w-500"><i class="feather icon-shield m-r-10 h5 "></i>Change
                                                                    Password</span>
                                                                    <span class="float-end"><i class="feather icon-chevron-right"></i></span>
                                                                    </a>
                                                                    <a class="nav-link list-group-item list-group-item-action"
                                                                        id="user-set-email-tab" data-bs-toggle="pill" href="#user-set-email"
                                                                        role="tab" aria-controls="user-set-email" aria-selected="false">
                                                                    <span class="f-w-500"><i class="feather icon-mail m-r-10 h5 "></i>Email
                                                                    settings</span>
                                                                    <span class="float-end"><i class="feather icon-chevron-right"></i></span>
                                                                    </a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="tab-pane fade" id="user-set-account" role="tabpanel"
                                        aria-labelledby="user-set-account-tab">
                                        <div class="card">
                                            <div class="card-header">
                                                <h5>
                                                    <i class="feather icon-target text-primary wid-20"></i><span
                                                        class="p-l-5">Account Information</span>
                                                    <small class="text-muted d-block m-l-25 m-t-5">change your account
                                                        settings</small>
                                                </h5>
                                            </div>
                                            <div class="card-body">
                                                <h5 class="mb-4">General</h5>
                                                <div class="row">
                                                    <div class="col-sm-6">
                                                        <div class="form-group">
                                                            <label class="form-label">Username <span
                                                                    class="text-danger">*</span></label>
                                                            <input type="text" class="form-control"
                                                                value="Ashoka_Tano_16">
                                                            <small class="form-text text-muted">Your Profile URL:
                                                                https://pc.com/Ashoka_Tano_16</small>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-6">
                                                        <div class="form-group">
                                                            <label class="form-label">Account Email <span
                                                                    class="text-danger">*</span></label>
                                                            <input type="text" class="form-control"
                                                                value="demo@sample.com">
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-6">
                                                        <div class="form-group">
                                                            <label class="form-label">Language</label>
                                                            <select class="form-control">
                                                                <option>Washington</option>
                                                                <option>India</option>
                                                                <option>Africa</option>
                                                                <option>New York</option>
                                                                <option>Malesia</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-6">
                                                        <div class="form-group">
                                                            <label class="form-label">Signin Using</label>
                                                            <select class="form-control">
                                                                <option>Password</option>
                                                                <option>Face Recognition</option>
                                                                <option>Thumb Impression</option>
                                                                <option>Key</option>
                                                                <option>Pin</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                                <hr>
                                                <h5 class="mb-4">Secure Browsing</h5>
                                                <div class="form-group">
                                                    <div class="switch switch-primary d-inline m-r-10">
                                                        <input type="checkbox" id="customsecbrz1" checked="">
                                                        <label for="customsecbrz1" class="cr"></label>
                                                    </div>
                                                    <label for="customsecbrz1">Browsing Securely ( https ) when it's
                                                        necessary</label>
                                                </div>
                                                <hr>
                                                <h5 class="mb-4">Login Notifications</h5>
                                                <div class="form-group">
                                                    <div class="switch switch-primary d-inline m-r-10">
                                                        <input type="checkbox" id="customsecbrz2" checked="">
                                                        <label for="customsecbrz2" class="cr"></label>
                                                    </div>
                                                    <label for="customsecbrz2">Notify when login attemped from outher
                                                        place</label>
                                                </div>
                                                <hr>
                                                <h5 class="mb-3">Login Approvals</h5>
                                                <div class="form-group">
                                                    <div class="switch switch-primary d-inline m-r-10">
                                                        <input type="checkbox" id="customsecbrz3" checked="">
                                                        <label for="customsecbrz3" class="cr"></label>
                                                    </div>
                                                    <label for="customsecbrz3">Approvals is not required when login from
                                                        unrecognized devices.</label>
                                                </div>
                                                <hr>
                                                <h5 class="mb-4">Recognized Devices</h5>
                                                <div class="media mb-2">
                                                    <i class="feather icon-monitor f-20 h3 me-3 wid-30 text-center"></i>
                                                    <div class="media-body">
                                                        <div class="float-end">
                                                            <div class="text-success d-inline-block me-2">
                                                                <i class="fas fa-circle f-10 me-2"></i>
                                                                Current Active
                                                            </div>
                                                            <a href="#!" class="text-danger"><i
                                                                    class="feather icon-x-circle"></i></a>
                                                        </div>
                                                        <span class="text-dark font-weight-bold">Cett Desktop</span>
                                                        <span class="text-muted">| 4351 Deans Lane, Elmsford</span>
                                                    </div>
                                                </div>
                                                <div class="media mb-2">
                                                    <i class="feather icon-tablet f-20 h3 me-3 wid-30 text-center"></i>
                                                    <div class="media-body">
                                                        <div class="float-end">
                                                            <div class="text-muted d-inline-block me-2">
                                                                <i class="fas fa-circle f-10 me-2"></i>
                                                                Active 5 days ago
                                                            </div>
                                                            <a href="#!" class="text-danger"><i
                                                                    class="feather icon-x-circle"></i></a>
                                                        </div>
                                                        <span class="text-dark font-weight-bold">Imoon Tablet</span>
                                                        <span class="text-muted">| 4185 Michigan Avenue,
                                                            SHIPPINGPORT</span>
                                                    </div>
                                                </div>
                                                <div class="media mb-2">
                                                    <i
                                                        class="feather icon-smartphone f-20 h3 me-3 wid-30 text-center"></i>
                                                    <div class="media-body">
                                                        <div class="float-end">
                                                            <div class="text-muted d-inline-block me-2">
                                                                <i class="fas fa-circle f-10 me-2"></i>
                                                                Active 1 month ago
                                                            </div>
                                                            <a href="#!" class="text-danger"><i
                                                                    class="feather icon-x-circle"></i></a>
                                                        </div>
                                                        <span class="text-dark font-weight-bold">Asbs Mobile</span>
                                                        <span class="text-muted">| 3462 Fairfax Drive, Montclair</span>
                                                    </div>
                                                </div>
                                                <hr>
                                                <h5 class="mb-3">Active Sessions</h5>
                                                <div class="media mb-2">
                                                    <i
                                                        class="feather icon-monitor f-20 h3 me-3 wid-30 text-center text-success"></i>
                                                    <div class="media-body">
                                                        <div class="float-end">
                                                            <a href="#!" class="badge badge-light-danger">Logout</a>
                                                        </div>
                                                        <span class="text-dark font-weight-bold">Cett Desktop</span>
                                                        <span class="text-muted">| 4351 Deans Lane, Elmsford</span>
                                                    </div>
                                                </div>
                                                <div class="media mb-2">
                                                    <i
                                                        class="feather icon-tablet f-20 h3 me-3 wid-30 text-center text-success"></i>
                                                    <div class="media-body">
                                                        <div class="float-end">
                                                            <a href="#!" class="badge badge-light-danger">Logout</a>
                                                        </div>
                                                        <span class="text-dark font-weight-bold">Imoon Tablet</span>
                                                        <span class="text-muted">| 4185 Michigan Avenue,
                                                            SHIPPINGPORT</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="card-footer text-end">
                                                <button class="btn btn-primary">Update Profile</button>
                                                <button class="btn btn-outline-dark ms-2">Clear</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- [ Main Content ] end -->
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
    <!-- [ Main Content ] end -->

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<script>
    // Get the form fields
    var firstNameField = document.getElementById('id_first_name');
    var lastNameField = document.getElementById('id_last_name');
    var addressField = document.getElementById('id_address');
    var bioField = document.getElementById('id_bio');
    var submitButton = document.getElementById('submitBtn');

    // Add event listeners to form fields
    firstNameField.addEventListener('input', updateSubmitButton);
    lastNameField.addEventListener('input', updateSubmitButton);
    addressField.addEventListener('input', updateSubmitButton);
    bioField.addEventListener('input', updateSubmitButton);

    // Function to update the submit button text
    function updateSubmitButton() {
        submitButton.innerText = 'Update';
        submitButton.style.display = 'inline';
    }
</script>
<script src="{% static 'assets/js/plugins/choices.min.js' %}"></script>
<script>
    
    var textRemove = new Choices(
        document.getElementById('skill-mlt-select'), {
        delimiter: ',',
        editItems: true,
        maxItemCount: 5,
        removeItemButton: true,
    }
    );
</script>
{% endblock javascripts %}
