extends ../index


append variables
  - var disableNavigationType = true;
  - var disableHorizontalNavbarShape = true;


append navbarTop
  script.
    var navbarTop = document.querySelector('.navbar-top');
    var navbarVertical = document.querySelector('.navbar-vertical');
    window.config.set({
      phoenixNavbarVerticalStyle: 'darker',
      phoenixNavbarTopStyle: 'darker'
    });
    navbarTop.setAttribute('data-navbar-appearance', 'darker');
    navbarVertical.setAttribute('data-navbar-appearance', 'darker');