{% load static %}
<!-- need to check FunFacts-->
<div class="position-relative">
    <div class="bg-holder world-map-bg" style="background-image:url(../../assets/img/bg/bg-13.png);">
    </div>
    <!--/.bg-holder-->

    <div class="bg-holder z-2 opacity-25 " style="background-image:url(../../assets/img/bg/bg-right-21.png);background-size:auto;background-position:right;">
    </div>
    <!--/.bg-holder-->

    <div class="bg-holder z-2 mt-9 opacity-25" style="background-image:url(../../assets/img/bg/bg-left-21.png);background-size:auto;background-position:left;">
    </div>
    <!--/.bg-holder-->

    <svg class="w-100 position-relative" preserveAspectRatio="none" viewBox="0 0 1920 368" xmlns="http://www.w3.org/2000/svg">
      <path class="fill-emphasis-bg" d="M1920 0.44L0 367.74V0H1920V0.44Z"></path>
    </svg>
    <section class="overflow-hidden z-2">
      <div class="container-small px-lg-7 px-xxl-3" data-bs-theme="light">
        <div class="position-relative">
          <div class="row mb-6">
            <div class="col-xl-6 text-center text-md-start">
              <h2 class="text-white mb-2">Being used by millions of users</h2>
              <h1 class="fs-md-3 fs-xl-2 fw-black text-gradient-info text-uppercase mb-4 mb-md-0">WORLDWIDE</h1>
            </div>
            <div class="col-xl-6 text-center text-md-start">
              <p class="text-white">You can get all the reports, data analysis, and growth maps you need with the help of Phoenix's power, and you may review and modify them whenever you want. These features make this dashboard outstanding.</p>
            </div>
          </div>
          <div class="row">
            <div class="col-xl-8 text-center text-md-start mb-6 mb-xl-0">
              <div class="d-md-flex justify-content-md-between">
                <div class="mb-6 mb-md-0 me-4">
                  <h1 class="display-1 text-white fw-bolder" data-countup='{"endValue":125,"duration":10,"suffix":"+"}'>0 <span>+</span></h1>
                  <p class="text-white">Every month, there are more<br class="d-md-none d-lg-block" />than 125+ sales.</p>
                </div>
                <div class="mb-6 mb-md-0 me-4">
                  <h1 class="display-1 text-white fw-bolder" data-countup='{"endValue":308,"duration":10,"suffix":"k"}'>0</h1>
                  <p class="text-white">We have 308+ active paid.<br class="d-md-none d-lg-block" />subscribers.</p>
                </div>
                <div class="mb-6 mb-md-0 me-4">
                  <h1 class="display-1 text-white fw-bolder" data-countup='{"endValue":12,"duration":0.5}'>0</h1>
                  <p class="text-white">We have won 12 awards so<br class="d-md-none d-lg-block" />far with great success. </p>
                </div>
              </div>
            </div>
            <div class="col-xl-4 text-center text-md-start"><img class="img-fluid" src="../../assets/img/generic/capterra.png" alt="" /></div>
          </div>
        </div>
      </div>
    </section>
    <svg class="w-100 position-relative" viewBox="0 0 1920 368" xmlns="http://www.w3.org/2000/svg">
      <path class="fill-emphasis-bg" d="M0 368L1920 0.730011L1920 368L0 368Z"></path>
    </svg>
  </div>
  <section class="bg-body-emphasis pb-lg-6 pb-xl-8">
    <div class="bg-holder d-dark-none" style="background-image:url(../../assets/img/bg/bg-5.png);background-size:auto;">
    </div>
    <!--/.bg-holder-->

    <div class="bg-holder d-light-none" style="background-image:url(../../assets/img/bg/bg-dark-5.png);background-size:auto;">
    </div>
    <!--/.bg-holder-->

    <div class="bg-holder" style="background-image:url(../../assets/img/bg/bg-left-5.png);background-position:left;background-size:auto;">
    </div>
    <!--/.bg-holder-->

    <div class="bg-holder" style="background-image:url(../../assets/img/bg/bg-right-6.png);background-position:right;background-size:auto;">
    </div>
    <!--/.bg-holder-->

    <div class="container-small position-relative px-lg-7 px-xxl-3">
      <div class="row mb-8 text-center text-sm-start">
        <div class="col-12 mb-4">
          <h4 class="text-primary fw-bolder mb-3">Gallery</h4>
          <h2>Some of Our Best Works</h2>
        </div>
        <div class="col-lg-6">
          <p>Rise like Phoenix focusing only on functionalities for your digital products leaving the design for us. Show what you do, with our latest admin dashboard. Check our best works and let us know what you want to find.</p>
        </div>
        <div class="col-lg-6">
          <p>Want to tell your customers about the details of how and what? Tell them with all the posts at one place without them ridirecting to another page or site.</p>
        </div>
      </div>
      <ul class="nav mb-6 justify-content-center justify-content-sm-start w-max-content" data-filter-nav="data-filter-nav">
        <li class="nav-item"><a class="isotope-nav cursor-pointer active" data-filter="*">First</a></li>
        <li class="nav-item"><a class="isotope-nav cursor-pointer" data-filter=".second">Second</a></li>
        <li class="nav-item"><a class="isotope-nav cursor-pointer" data-filter=".third">Third</a></li>
        <li class="nav-item"> <a class="isotope-nav cursor-pointer" data-filter=".fourth">Fourth</a></li>
      </ul>
      <div class="row g-3" id="image_gallery" style="min-height: 948px" data-sl-isotope='{"layoutMode":"packery"}'>
        <div class="col-6 col-md-4 col-lg-3 px-2 isotope-item fourth"><a href="#!" data-bigpicture='{"gallery":"#image_gallery"}' data-bp="../../assets/img/gallery/1.png"><img class="rounded img-fluid w-100" src="../../assets/img/gallery/1.png" alt="" /></a>
        </div>
        <div class="col-6 col-md-4 col-lg-3 px-2 isotope-item third"><a href="#!" data-bigpicture='{"gallery":"#image_gallery"}' data-bp="../../assets/img/gallery/2.png"><img class="rounded img-fluid w-100" src="../../assets/img/gallery/2.png" alt="" /></a>
        </div>
        <div class="col-6 col-md-4 col-lg-3 px-2 isotope-item second"><a href="#!" data-bigpicture='{"gallery":"#image_gallery"}' data-bp="../../assets/img/gallery/3.png"><img class="rounded img-fluid w-100" src="../../assets/img/gallery/3.png" alt="" /></a>
        </div>
        <div class="col-6 col-md-4 col-lg-3 px-2 isotope-item third"><a href="#!" data-bigpicture='{"gallery":"#image_gallery"}' data-bp="../../assets/img/gallery/5.png"><img class="rounded img-fluid w-100" src="../../assets/img/gallery/5.png" alt="" /></a>
        </div>
        <div class="col-6 col-md-4 col-lg-3 px-2 isotope-item third second"><a href="#!" data-bigpicture='{"gallery":"#image_gallery"}' data-bp="../../assets/img/gallery/4.png"><img class="rounded img-fluid w-100" src="../../assets/img/gallery/4.png" alt="" /></a>
        </div>
        <div class="col-6 col-md-4 col-lg-3 px-2 isotope-item second"><a href="#!" data-bigpicture='{"gallery":"#image_gallery"}' data-bp="../../assets/img/gallery/6.png"><img class="rounded img-fluid w-100" src="../../assets/img/gallery/6.png" alt="" /></a>
        </div>
        <div class="col-6 col-md-4 col-lg-3 px-2 isotope-item second"><a href="#!" data-bigpicture='{"gallery":"#image_gallery"}' data-bp="../../assets/img/gallery/7.png"><img class="rounded img-fluid w-100" src="../../assets/img/gallery/7.png" alt="" /></a>
        </div>
        <div class="col-6 col-md-4 col-lg-6 px-2 isotope-item second"><a href="#!" data-bigpicture='{"gallery":"#image_gallery"}' data-bp="../../assets/img/gallery/9.png"><img class="rounded img-fluid w-100" src="../../assets/img/gallery/9.png" alt="" /></a>
        </div>
        <div class="col-6 col-md-4 col-lg-3 px-2 isotope-item fourth"><a href="#!" data-bigpicture='{"gallery":"#image_gallery"}' data-bp="../../assets/img/gallery/8.png"><img class="rounded img-fluid w-100" src="../../assets/img/gallery/8.png" alt="" /></a>
        </div>
        <div class="col-6 col-md-4 col-lg-6 px-2 isotope-item second"><a href="#!" data-bigpicture='{"gallery":"#image_gallery"}' data-bp="../../assets/img/gallery/10.png"><img class="rounded img-fluid w-100" src="../../assets/img/gallery/10.png" alt="" /></a>
        </div>
      </div>
    </div>
  </section>
  <section class="bg-body-emphasis pt-lg-0 pt-xl-8">
    <div class="bg-holder d-none d-md-block" style="background-image:url(../../assets/img/bg/bg-left-15.png);background-position:left;background-size:auto;">
    </div>
    <!--/.bg-holder-->

    <div class="bg-holder d-none d-md-block" style="background-image:url(../../assets/img/bg/bg-right-15.png);background-position:right;background-size:auto;">
    </div>
    <!--/.bg-holder-->

    <div class="container-small position-relative px-lg-7 px-xxl-3">
      <div class="row">
        <div class="col-12 mb-4 text-center text-sm-start">
          <h4 class="text-primary fw-bolder mb-3">Pricing</h4>
          <h2>Choose the best deal for you</h2>
        </div>
        <div class="col-md-6 text-center text-sm-start">
          <p>Entice your customers with Phoenix admin dashboard. Show your best deal in this section to help customers choose from your best offers and place them all in one place with this efficient template. If you are availing more than one </p>
        </div>
        <div class="col-md-6 text-center text-sm-start">
          <p>offer to your customers, let them compare among them and search for what they need to get. Show offer details here and entice them to buy.</p>
        </div>
      </div>
      <div class="row pt-9 g-3 g-xl-0">
        <div class="col-md-6 col-xl-3">
          <div class="card h-100 rounded-end-xl-0 rounded-start">
            <div class="card-body px-6">
              <div class="px-5">
                <div class="text-center pt-5"><img src="../../assets/img/icons/illustrations/pie.png" width="48" height="48" alt="" />
                  <h3 class="fw-semibold my-4">Starter</h3>
                </div>
                <div class="text-center">
                  <h1 class="fw-semibold text-primary">$<span class="fw-bolder">6</span><span class="text-body-emphasis fs-7 ms-1 fw-bolder">USD</span></h1>
                  <h5 class="mb-4 text-body"></h5>
                  <button class="btn btn-lg mb-6 w-100 btn-outline-primary">Buy</button>
                </div>
              </div>
              <ul class="fa-ul pricing-list">
                <li class="mb-4 d-flex align-items-center"><span class="fa-li"><span class="fas fa-check text-primary"></span></span><span class="text-body-secondary" style="--phoenix-text-opacity:1;">Timeline</span>
                </li>
                <li class="mb-4 d-flex align-items-center"><span class="fa-li"><span class="fas fa-check text-primary"></span></span><span class="text-body-secondary" style="--phoenix-text-opacity:1;">Advanced Search</span>
                </li>
                <li class="mb-4 d-flex align-items-center"><span class="text-body-secondary" style="--phoenix-text-opacity:.5;">Custom fields</span><span class="badge badge-phoenix badge-phoenix-warning ms-2 fs-10 opacity-50">New</span>
                </li>
                <li class="mb-4 d-flex align-items-center"><span class="text-body-secondary" style="--phoenix-text-opacity:.5;">Task dependencies</span>
                </li>
                <li class="mb-4 d-flex align-items-center"><span class="text-body-secondary" style="--phoenix-text-opacity:.5;">Private teams &amp; projects</span>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-xl-3">
          <div class="card h-100  rounded-top-0 rounded-xl-0 border border-2 border-primary dark__border-primary mt-5 mt-md-0">
            <div class="position-absolute d-flex flex-center bg-primary-subtle rounded-top py-1 end-0 start-0 badge-pricing">
              <p class="text-primary-dark mb-0">Most popular</p>
            </div>
            <div class="card-body px-6">
              <div class="px-5">
                <div class="text-center pt-5"><img src="../../assets/img/icons/illustrations/bolt.png" width="48" height="48" alt="" />
                  <h3 class="fw-semibold my-4">Team</h3>
                </div>
                <div class="text-center">
                  <h1 class="fw-semibold text-primary">$<span class="fw-bolder">12</span><span class="text-body-emphasis fs-7 ms-1 fw-bolder">USD</span></h1>
                  <h5 class="mb-4 text-body"></h5>
                  <button class="btn btn-lg mb-6 w-100 btn-primary">Buy</button>
                </div>
              </div>
              <ul class="fa-ul pricing-list">
                <li class="mb-4 d-flex align-items-center"><span class="fa-li"><span class="fas fa-check text-primary"></span></span><span class="text-body-secondary" style="--phoenix-text-opacity:1;">Timeline</span>
                </li>
                <li class="mb-4 d-flex align-items-center"><span class="fa-li"><span class="fas fa-check text-primary"></span></span><span class="text-body-secondary" style="--phoenix-text-opacity:1;">Advanced Search</span>
                </li>
                <li class="mb-4 d-flex align-items-center"><span class="fa-li"><span class="fas fa-check text-primary"></span></span><span class="text-body-secondary" style="--phoenix-text-opacity:1;">Custom fields</span><span class="badge badge-phoenix badge-phoenix-warning ms-2 fs-10">New</span>
                </li>
                <li class="mb-4 d-flex align-items-center"><span class="text-body-secondary" style="--phoenix-text-opacity:.5;">Task dependencies</span>
                </li>
                <li class="mb-4 d-flex align-items-center"><span class="text-body-secondary" style="--phoenix-text-opacity:.5;">Private teams &amp; projects</span>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-xl-3">
          <div class="card h-100 rounded-start rounded-start-xl-0 mt-5 mt-md-0">
            <div class="card-body px-6">
              <div class="px-5">
                <div class="text-center pt-5"><img src="../../assets/img/icons/illustrations/edit.png" width="48" height="48" alt="" />
                  <h3 class="fw-semibold my-4">Business</h3>
                </div>
                <div class="text-center">
                  <h1 class="fw-semibold text-primary">$<span class="fw-bolder">23</span><span class="text-body-emphasis fs-7 ms-1 fw-bolder">USD</span></h1>
                  <h5 class="mb-4 text-body"></h5>
                  <button class="btn btn-lg mb-6 w-100 btn-outline-primary">Buy</button>
                </div>
              </div>
              <ul class="fa-ul pricing-list">
                <li class="mb-4 d-flex align-items-center"><span class="fa-li"><span class="fas fa-check text-primary"></span></span><span class="text-body-secondary" style="--phoenix-text-opacity:1;">Timeline</span>
                </li>
                <li class="mb-4 d-flex align-items-center"><span class="fa-li"><span class="fas fa-check text-primary"></span></span><span class="text-body-secondary" style="--phoenix-text-opacity:1;">Advanced Search</span>
                </li>
                <li class="mb-4 d-flex align-items-center"><span class="fa-li"><span class="fas fa-check text-primary"></span></span><span class="text-body-secondary" style="--phoenix-text-opacity:1;">Custom fields</span><span class="badge badge-phoenix badge-phoenix-warning ms-2 fs-10">New</span>
                </li>
                <li class="mb-4 d-flex align-items-center"><span class="fa-li"><span class="fas fa-star text-primary"></span></span><span class="text-body-secondary" style="--phoenix-text-opacity:1;">Task dependencies</span>
                </li>
                <li class="mb-4 d-flex align-items-center"><span class="text-body-secondary" style="--phoenix-text-opacity:.5;">Private teams &amp; projects</span>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-6 col-xl-3 ps-xl-3">
          <div class="row g-0 h-100 justify-content-center">
            <div class="col-xl-12">
              <div class="card h-100 mt-5 mt-md-0">
                <div class="card-body">
                  <div class="px-5">
                    <div class="text-center pt-5"><img src="../../assets/img/icons/illustrations/shield.png" width="48" height="48" alt="" />
                      <h3 class="fw-semibold my-4">Enterprise</h3>
                    </div>
                    <div class="text-center">
                      <h1 class="fw-semibold text-primary">$<span class="fw-bolder">40</span><span class="text-body-emphasis fs-7 ms-1 fw-bolder">USD</span></h1>
                      <h5 class="mb-4 text-body"></h5>
                      <button class="btn btn-lg mb-6 w-100 btn-outline-primary">Buy</button>
                    </div>
                  </div>
                  <ul class="fa-ul pricing-list">
                    <li class="mb-4 d-flex align-items-center"><span class="fa-li"><span class="fas fa-check text-primary"></span></span><span class="text-body-secondary" style="--phoenix-text-opacity:1;">Timeline</span>
                    </li>
                    <li class="mb-4 d-flex align-items-center"><span class="fa-li"><span class="fas fa-check text-primary"></span></span><span class="text-body-secondary" style="--phoenix-text-opacity:1;">Advanced Search</span>
                    </li>
                    <li class="mb-4 d-flex align-items-center"><span class="fa-li"><span class="fas fa-check text-primary"></span></span><span class="text-body-secondary" style="--phoenix-text-opacity:1;">Custom fields</span><span class="badge badge-phoenix badge-phoenix-warning ms-2 fs-10">New</span>
                    </li>
                    <li class="mb-4 d-flex align-items-center"><span class="fa-li"><span class="fas fa-star text-primary"></span></span><span class="text-body-secondary" style="--phoenix-text-opacity:1;">Task dependencies</span>
                    </li>
                    <li class="mb-4 d-flex align-items-center"><span class="fa-li"><span class="fas fa-star text-primary"></span></span><span class="text-body-secondary" style="--phoenix-text-opacity:1;">Private teams &amp; projects</span>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 text-center mt-8">
          <p>For Enterprise Solution with Managed SMTP, Custom API setup, Dedicated Support, and more - <a href="#!"> Contact us</a></p>
        </div>
      </div>
    </div>
  </section>