{% load static %}
<style>
    /* CSS for desktop */
    #video-frame {
        width: 860px;
        height: 415px;
    }

    /* CSS for mobile */
    @media (max-width: 768px) {
        #video-frame {
            width: 100%;
            height: auto;
        }
    }
</style>
<section class="bg-body-emphasis" id="home">
    <div class="container-small hero-header-container px-lg-7 px-xxl-3">
      <div class="row align-items-center">
        <div class="col-12 col-lg-auto order-0 order-md-1 text-end order-1">
          <div class="position-relative p-5 p-md-7 d-lg-none">
            <div class="bg-holder" style="background-image:url({% static 'assets/img/bg/bg-23.png'%});background-size:contain;">
            </div>
            <!--/.bg-holder-->

            <div class="position-relative">
                <img class="w-100 shadow-lg d-dark-none rounded-2" src="{% static 'assets/front/header-mokeup2.jpg'%}" alt="hero-header" />
                <img class="w-100 shadow-lg d-light-none rounded-2" src="{% static 'assets/front/header-mokeup2.jpg'%}" alt="hero-header" />
            </div>
          </div>
          <div class="hero-image-container position-absolute top-0 bottom-0 end-0 d-none d-lg-block me-2">
            <div class="position-absolute h-100 top-0 d-flex align-items-center end-0 hero-image-container-bg"><img class="pt-7 pt-md-0 w-100" src="{% static 'assets/img/bg/bg-1-2.png'%}" alt="hero-header" /></div>
            <div class="position-absolute h-100 top-0 d-flex align-items-center end-0 hero-image-container-bg">
            <center class="img-fluid header-img wow animate__fadeInRight" data-wow-delay="0.2s">
                <iframe id="video-frame" src="https://www.youtube.com/embed/TLk0QpB4obU?autoplay=1&mute=1" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            </center>
            </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-lg-6 text-lg-start text-center pt-8 pb-6 order-0 ml-4 me-2 position-relative">
          <h1 class="fs-3 fs-lg-2 fs-md-1 fs-lg-2 fs-xl-1 fs fw-black mb-10"><span class="text-primary me-3 mr-4">Where</span>is<br />the money?</h1>
          <p class="mb-1">Plan, Invest and Track</p>
          <p class="mb-0">Our vision is to provide financial tools to </p>
          <p class="mb-0">investors and fund managers which help them to plan,</p>
          <p class="mb-5">invest and track their portfolios or client portfolios</p>
          <a class="btn btn-lg btn-primary rounded-pill me-3" href="{% url 'register'%}" role="button">Sign up</a>
          <a class="btn btn-link me-2 fs-8 p-0" href="https://www.youtube.com/watch?v=9ppF7TJBNUY&list=PLk5XTT96lWnVDnn_UiN6NwPR7T2H291J3&index=1" role="button" target="_blank">Check Demo<span class="fa-solid fa-angle-right ms-2 fs-9"></span></a>
        </div>
      </div>
    </div>
</section>

<!-- =======================COMMENTING BELOW SECTION=====================-->
<!-- <section> begin ============================-->

{% comment %} <section class="py-5 pt-xl-13 bg-body-emphasis">
    <div class="container-small px-lg-7 px-xxl-3">
        <div class="row g-0">
        <div class="col-6 col-md-3">
            <div
            class="p-2 p-lg-5 d-flex flex-center h-100 border-1 border-dashed border-bottom border-translucent border-end"
            >
            <img
                class="w-100"
                src="{% static 'assets/img/brand2/netflix-n.png'%}"
                alt=""
            />
            </div>
        </div>
        <div class="col-6 col-md-3">
            <div
            class="p-2 p-lg-5 d-flex flex-center h-100 border-1 border-dashed border-bottom border-translucent border-end-md"
            >
            <img class="w-100" src="{% static 'assets/img/brand2/blender.png'%}" alt="" />
            </div>
        </div>
        <div class="col-6 col-md-3">
            <div
            class="p-2 p-lg-5 d-flex flex-center h-100 border-1 border-dashed border-bottom border-translucent border-end border-end-md"
            >
            <img class="w-100" src="{% static 'assets/img/brand2/upwork.png'%}" alt="" />
            </div>
        </div>
        <div class="col-6 col-md-3">
            <div
            class="p-2 p-lg-5 d-flex flex-center h-100 border-1 border-dashed border-bottom border-translucent border-end-lg-0"
            >
            <img
                class="w-100"
                src="{% static 'assets/img/brand2/facebook-f.png'%}"
                alt=""
            />
            </div>
        </div>
        <div class="col-6 col-md-3">
            <div
            class="p-2 p-lg-5 d-flex flex-center h-100 border-1 border-dashed border-end border-bottom border-translucent border-bottom-md-0"
            >
            <img class="w-100" src="{% static 'assets/img/brand2/pocket.png'%}" alt="" />
            </div>
        </div>
        <div class="col-6 col-md-3">
            <div
            class="p-2 p-lg-5 d-flex flex-center h-100 border-1 border-dashed border-end-md border-bottom border-translucent border-bottom-md-0"
            >
            <img
                class="w-100"
                src="{% static 'assets/img/brand2/mail-bluster-1.png'%}"
                alt=""
            />
            </div>
        </div>
        <div class="col-6 col-md-3">
            <div
            class="p-2 p-lg-5 d-flex flex-center h-100 border-1 border-dashed border-end border-translucent"
            >
            <img class="w-100" src="{% static 'assets/img/brand2/discord.png'%}" alt="" />
            </div>
        </div>
        <div class="col-6 col-md-3">
            <div
            class="p-2 p-lg-5 d-flex flex-center h-100 border-1 border-dashed border-end-lg-0 border-translucent"
            >
            <img
                class="w-100"
                src="{% static 'assets/img/brand2/google-g.png'%}"
                alt=""
            />
            </div>
        </div>
        </div>
    </div>
    <!-- end of .container-->
</section> {% endcomment %}

    <!-- <section> close ============================-->
    <!-- ============================================-->