{% extends "layouts/base.html" %}
{% load static %}

{% block title %} Add Instrument {% endblock %} 

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <!-- [ Main Content ] start -->
    <div class="pcoded-main-container">
        <div class="pcoded-wrapper">
            <div class="pcoded-content">
                <div class="pcoded-inner-content">
                    <!-- [ breadcrumb ] start -->
                    <div class="page-header">
                        <div class="page-block">
                            <div class="row align-items-center">
                                <div class="col-md-12">
                                    <div class="page-header-title">
                                        <h5 class="m-b-10"></h5>
                                    </div>
                                    <ul class="breadcrumb">
                                        <li class="breadcrumb-item"><a href="{% url 'networth'%}"><i class="feather icon-home"></i> Networth</a></li>
                                        <li class="breadcrumb-item"><a href="{% url 'view_networth'%}"> Cofiguration</a></li>
                                        <li class="breadcrumb-item"><a href="{% url 'view_asset_groups' category.id %}">Category - {{category.name}}</a></li>
                                        <li class="breadcrumb-item"><a href="{% url 'view_instruments' category.id asset_group.id %}">Asset-Group - {{asset_group.name}}</a></li>
                                        <li class="breadcrumb-item"><a href="javascript:">Add Instrument</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- [ breadcrumb ] end -->
                    <div class="main-body">
                        <div class="page-wrapper">
                            <div class="row">
                                <div class="col-sm-3">
                                </div>
                                <div class="col-sm-5">
                                    <div class="card">
                                        <div class="card-body">
                                            <h5>Add a new Instrument</h5>
                                            <hr>
                                            <div class="form-container">
                                                <form method="post" class="needs-validation" novalidate>
                                                    {% csrf_token %}
                                                    <div class="form-group">
                                                        <label for="{{ form.name.id_for_label }}">Instrument</label>
                                                        <input type="text" name="{{ form.name.name }}" id="{{ form.name.id_for_label }}" required="" class="form-control" 
                                                        value="{%if form.name.value%}{{form.name.value}}{%endif%}" autofocus>
                                                        <div class="invalid-feedback">
                                                            Please enter a valid name.
                                                        </div>
                                                        {% if form.errors.name %}
                                                            <div class="invalid-feedback" style="display: block;font-size: 85%;" >
                                                                <i class="feather icon-slack"></i>
                                                                {{ form.errors.name|join:", " }}
                                                            </div>
                                                        {% endif %}
                                                        suggestions : PPFAS Tax Saver, HDFC Bank or Gold ETF
                                                   </div>
                                                  <div class="form-group">
                                                      <label for="{{ form.amount_invested.id_for_label }}">Amount Invested</label>
                                                      <input type="text" class="form-control" name="{{form.amount_invested.name}}" required="" 
                                                      id="{{ form.amount_invested.id_for_label }}" 
                                                      value="{%if form.amount_invested.value%}{{form.amount_invested.value}}{%endif%}">
                                                      <div class="invalid-feedback">
                                                          Please enter a valid number for amount invested.
                                                      </div>
                                                      {% if form.errors.amount_invested %}
                                                          <div class="invalid-feedback" style="display: block;font-size: 85%;" >
                                                              <i class="feather icon-slack"></i>
                                                              {{ form.errors.amount_invested|join:", " }}
                                                          </div>
                                                      {% endif %}
                                                  </div>
                                                  <div class="form-group">
                                                    <label for="{{ form.current_value.id_for_label }}">Current Value</label>
                                                    <input type="text" class="form-control" name="{{form.current_value.name}}" required="" 
                                                    id="{{ form.current_value.id_for_label }}" 
                                                    value="{%if form.current_value.value%}{{form.current_value.value}}{%endif%}">
                                                    <div class="invalid-feedback">
                                                        Please enter a valid number for current value.
                                                    </div>
                                                    {% if form.errors.current_value %}
                                                        <div class="invalid-feedback" style="display: block;font-size: 85%;" >
                                                            <i class="feather icon-slack"></i>
                                                            {{ form.errors.current_value|join:", " }}
                                                        </div>
                                                    {% endif %}
                                                </div> 
                                                  <button type="submit" class="btn btn-primary" style="width: 85px;">Add</button>
                                                  <a href="{% url 'view_instruments' category.id asset_group.id %}" class="btn btn-secondary">Cancel</a>
                                                  </form> 
                                                    {% if error_message %}
                                                      <div class="invalid-feedback" style="display: block;font-size: 90%;">
                                                        <i class="feather icon-slack"></i>
                                                          {{error_message}}
                                                      </div>
                                                  {% endif %}
                                            </div>
                                            
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- [ Main Content ] end -->

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<script src="{% static 'assets/js/plugins/bouncer.min.js' %}"></script>
<script src="{% static 'assets/js/pages/form-validation.js' %}"></script>

{% endblock javascripts %}
