{% extends "layouts/base.html" %}
{% load static %}

{% block title %} Configuration - Networth {% endblock %} 

<!-- Specific CSS goes HERE -->
{% block stylesheets %}
<style>
    .right-align {
        float: right;
        clear: both; /* Clear float to prevent overlapping */
    }
</style>
<!-- enjoyhint css -->
<link rel="stylesheet" href="{% static 'assets/css/plugins/introjs.min.css' %}">
{% endblock stylesheets %}

{% block content %}
   <!-- [ Main Content ] start -->
   <div class="pcoded-main-container">
        <div class="pcoded-wrapper">

            <div class="pcoded-content">
                <div class="pcoded-inner-content">
                    <!-- [ breadcrumb ] start -->

                    <div class="page-block">
                        <div class="row align-items-center">
                            <div class="col-md-12">
                                
                            </div>
                            <div class="page-header-title">
                                <h5 class="m-b-10"></h5>
                            </div>
                            <ul class="breadcrumb">
                                <li class="breadcrumb-item"><a href="{% url 'networth'%}"><i class="feather icon-home"></i> Networth</a></li>
                                <li class="breadcrumb-item"><a href="{% url 'view_networth'%}">Configuration</a></li>
                                {% if is_edit %}
                                <li class="breadcrumb-item"><a href="javascript:">Edit</a></li>
                                {% endif %}
                            </ul>
                        </div>
                    </div>
                
                    <!-- [ breadcrumb ] end -->
                    <div class="main-body">
                        <div class="page-wrapper">
                            <!-- [ Main Content ] start -->
                                <div class="row">
                                    <div class="col-md-6 col-xl-4"></div>
                                    <div class="col-md-6 col-xl-4"></div>
                                    
                                </div>    
                                {% if is_edit %}
                                <div class="row">
                                    <div class="col-sm-3"></div>
                                    <div class="col-sm-5">
                                        <div class="card">
                                            <div class="card-body">
                                                <h5>Edit Category</h5>
                                                <hr>
                                                <div class="form-container" >
                                                    <form method="post" class="needs-validation" novalidate action="">
                                                        {% csrf_token %}
                                                        <div class="form-group">
                                                                <label for="{{ form.name.id_for_label }}">Category Name</label>
                                                            <input type="text" name="{{ form.name.name }}" id="{{ form.name.id_for_label }}" required="" class="form-control" value="{%if form.name.value%}{{form.name.value}}{%endif%}">
                                                            <div class="invalid-feedback">
                                                                Please enter a valid name.
                                                            </div>
                                                            {% if form.errors.name %}
                                                                <div class="invalid-feedback" style="display: block;font-size: 85%;" >
                                                                    <i class="feather icon-slack"></i>
                                                                    {{ form.errors.name|join:", " }}
                                                                </div>
                                                            {% endif %}
                                                        </div>
                                                          <div class="form-group">
                                                            <label for="{{ form.weightage.id_for_label }}">Weightage</label>
                                                            <input type="text" class="form-control" name="{{form.weightage.name}}" required="" id="{{ form.weightage.id_for_label }}" value="{%if form.weightage.value%}{{form.weightage.value}}{%endif%}">
                                                            <div class="invalid-feedback">
                                                                Please enter a valid weightage.
                                                            </div>
                                                            {% if form.errors.weightage %}
                                                                <div class="invalid-feedback" style="display: block;font-size: 85%;" >
                                                                    <i class="feather icon-slack"></i>
                                                                    {{ form.errors.weightage|join:", " }}
                                                                </div>
                                                            {% endif %}
                                                        </div>
                                                          <div class="form-group">
                                                            <input type="submit" value="Submit" class="btn btn-primary">
                                                            <a href="{% url 'view_networth' %}" class="btn btn-secondary">Cancel</a>
                                                          </div>
                                                    </form>
                                                    {% if error_message %}
                                                    <div class="invalid-feedback" style="display: block; font-size: 90%;">
                                                        <i class="feather icon-slack"></i>
                                                        {{ error_message }}
                                                    </div>
                                                    {% endif %}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="card user-list">
                                            <div class="card-block"> 
                                                <div class="row">
                                                    <div class="col-9">
                                                        <h4 class="f-w-200 d-flex align-items-right m-b-40">
                                                        Weightage available for allocation
                                                        </h4>
                                                    </div>
                                                    <div class="col-xl-12">
                                                        <h6 class="align-items-center float-left">Min : 1</h6>
                                                        <h6 class="align-items-center float-right">Max : {{available_weightage}}</h6>
                                                        <div class="progress m-t-30 m-b-20" style="height: 6px;">
                                                            <div id="bar_edit_category" class="progress-bar progress-c-theme" role="progressbar" 
                                                            style="width: 100%;" aria-valuenow="{{available_weightage}}" aria-valuemin="0" aria-valuemax="{{available_weightage}}"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>           
                                {% else %}
                                <div class="row">
                                    <div class="col-sm-8">
                                        <div class="card">
                                            <div class="card-header" style="border-bottom:none;padding-bottom:0px;">
                                                <h5>Networth Configuration</h5>
                                                <a class="right-align"  href="{% url 'networth'%}"><i class="feather icon-chevrons-left"></i> Networth Summary</a>
                                            </div>
                                            <div class="card-block" style="padding-top:10px">
                                                <div class="table-responsive">
                                                    {% if is_edit %} 
                                                    <form method="post" action="">
                                                        {% csrf_token %}
                                                        {{ form.as_p }}
                                                        <input type="submit" value="Submit">
                                                    </form>
                                                    {% else %}
                                                        {% if request.method == "GET" %}           
                                                            {% if  categories_list %}
                                                            <table id="tbl_categories" class="table">
                                                                <thead>
                                                                    <tr class="text-center">
                                                                        <th>#</th>
                                                                        <th>Category Name</th>
                                                                        <th>Weightage</th>
                                                                        <th>Action</th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                    {% for category in categories_list %}
                                                                    <tr>
                                                                        <th class="text-center" scope="row">{{forloop.counter}}</th>
                                                                        <td class="text-center" data-id="{{category.name}}" data-type="name">{{category.name}}</td>
                                                                        <td class="text-center" data-id="{{category.weightage}}" data-type="weightage">{{category.weightage}}</td>
                                                                        
                                                                        <td class="text-center">
                                                                            <a class="btn btn-primary view-button-step2" href="{% url 'view_asset_groups' category.id %}" type="submit">View</a>
                                                                            <a class="btn btn-primary" href="category/{{category.id}}/edit" type="submit">Edit</a>
                                                                            <form class="deleteForm" data-id="{{category.id}}"  action="category/{{category.id}}/delete" method="POST" style="display: inline-block;">
                                                                                {% csrf_token %}
                                                                            </form>
                                                                            <button type="button" data-id="{{category.id}}" data-bs-toggle="modal" data-bs-target="#deleteModal" class="btn btn-danger" style="width: 1px; height:42px">
                                                                                <i class="feather icon-trash-2"style="display: flex; justify-content: center; align-items: center;"></i>
                                                                            </button>
                                                                        </td>
                                                                    </tr>
                                                                    {% endfor %}
                                                                    
                                                                </tbody>
                                                                
                                                                {% else %}
                                                                {% endif %}
                                                            </table>
                                                            
                                                            {% if not fully_allocated %}
                                                            <div class="d-flex justify-content-center">
                                                                <a class="btn btn-outline-primary add-button-step1" href="{% url 'create_category' %}" type="submit">Add</a>
                                                            </div>
                                                            {% endif %}
                                                            
                                                        {% endif %}
                                                    {% endif %}
                                                    
                                                    <!-- Delete new confirmation modal -->
                                                    <div id="deleteModal" class="modal fade" tabindex="-1" role="dialog"
                                                        aria-labelledby="deleteCategoryModalLabel" aria-hidden="true">
                                                        <div class="modal-dialog" role="document">
                                                            <div class="modal-content">
                                                                <div class="modal-header">
                                                                    <h5 class="modal-title" id="deleteCategoryModalLabel">
                                                                        Confirm Delete
                                                                    </h5>
                                                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                                        aria-label="Close"></button>
                                                                </div>
                                                                <div class="modal-body">
                                                                    <p>Are you sure you want to delete this Category?</p>
                                                                </div>
                                                                <div class="modal-footer">
                                                                    <button type="button" class="btn  btn-secondary"
                                                                        data-bs-dismiss="modal">Close</button>
                                                                    <button type="button" class="btn btn-danger" id="confirmDelete">Delete</button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div >
                                            <div class="card daily-sales">
                                                <div class="card-block">
                                                    <div class="row d-flex align-items-center">
                                                        <div class="col-9">
                                                            <h3 class="f-w-300 d-flex align-items-center m-b-0">
                                                            Weightage used
                                                            </h3>
                                                        </div>
                                                        <div class="col-3 text-right">
                                                            <p class="m-b-0">{{weightage_used}}%</p>
                                                        </div>
                                                    </div>
                                                    <div class="progress m-t-30" style="height: 7px;">
                                                        <div class="progress-bar progress-c-theme" role="progressbar" style="width: {{ weightage_used|safe }}%;" 
                                                        aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {% endif %}
                            </div>
                            <!-- [ Main Content ] end -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>   
{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<script src="{% static 'assets/js/plugins/bouncer.min.js' %}"></script>
<script src="{% static 'assets/js/pages/form-validation.js' %}"></script>
<script type="text/javascript">
    // When the Delete button is clicked
$('.btn-danger').click(function() {
    // Get the instrument id from the data attribute . is by class
    var recordId = $(this).data('id');
    
    // Store the instrument id in a data attribute of the confirmDelete button # is by id
    $('#confirmDelete').data('id', recordId);
});

// When the confirmDelete button is clicked
$('#confirmDelete').click(function() {
    // Get the instrument id from the data attribute
    var recordId = $(this).data('id');
    // Submit the form for the specific instrument
    $('form.deleteForm[data-id="' + recordId + '"]').submit();
});

</script>

  
  <script>
     // Get references to the progress bar and the text box
  const progressBar = document.getElementById('bar_edit_category');
  const userInput = document.getElementById('id_weightage');
  var is_edit = "{{is_edit}}" 
  // Add an event listener to the text box to trigger the update
  if(is_edit)
  {
    userInput.addEventListener('input', updateProgressBar);
  }
  

  // Function to update the progress bar based on user input
  function updateProgressBar() {
    // Get the user input value and convert it to a number
    const inputNumber = parseFloat(userInput.value);

    // Check if the input is a valid number
    if (!isNaN(inputNumber)) {

       //const validInput = (inputNumber*100/49);
      // Ensure the input is within the range of 0 to 100
      const validInput = Math.max(0, Math.min(100, inputNumber));

      var available_weightage = "{{available_weightage}}"

      const other = (validInput*100)/available_weightage;

      // Set the width of the progress bar based on the valid input
      progressBar.style.width = other + '%';
      progressBar.setAttribute('aria-valuenow', validInput);

      // You can also add more logic to update the visual appearance of the progress bar, e.g., changing colors based on the input value.
    }
  }
  </script>

  
<script type="text/javascript">
    var user_tour_status = "{{user_tour.status}}";
    var token = '{% csrf_token %}'
    let valueStartIndex = token.indexOf('value="') + 7; // 7 is the length of 'value="'
    let valueEndIndex = token.indexOf('">', valueStartIndex);
    let csrftoken = token.substring(valueStartIndex, valueEndIndex);
    let steps = '"' +'{{user_tour_steps_json  | escapejs }}' + '"';
    let user_tour_steps_json = '{{user_tour_steps_json  | escapejs }}';
</script>

<!-- tour Js -->
<script src="{% static 'assets/js/plugins/intro.min.js' %}"></script>
<script type="module" src="{% static 'assets/js/pages/ac-tour-configuration-networth.js' %}"></script>

{% endblock javascripts %}