{% load static %}
<!-- [ navigation menu ] start -->
<nav class="pcoded-navbar menupos-fixed menu-light brand-purple icon-colored">
    <div class="navbar-wrapper">
        <div class="navbar-brand header-logo" style="background:#0076B6">
            <a href="/app/" class="b-brand">
                
                <img src="{% static 'assets/logo_new.png' %}" height="22" width="22" alt="IOD">
                <span class="b-title" style="font-size:19px;">InvestODiary</span>
            </a>
            <a class="mobile-menu" id="mobile-collapse" href="javascript:"><span></span></a>
        </div>
        <div class="navbar-content scroll-div">
            <ul class="nav pcoded-inner-navbar">
                <li class="nav-item pcoded-menu-caption">
                    <label>Navigation</label>
                </li>
                <li data-username="dashboard Default Ecommerce CRM Analytics Crypto Project" 
                    class="nav-item {% if 'index' in segment %} active {% endif %} nav-networth-summary-step2">
                    <a href="{% url 'networth' %}" class="nav-link "><span class="pcoded-micon"><i class="feather icon-home"></i></span><span
                            class="pcoded-mtext">Networth Summary</span></a>
                </li>
                <li data-username="Profile Page" 
                    class="nav-item {% if 'profile' in segment %} active {% endif %}">
                    <a href="{% url 'view_profile' %}" class="nav-link">
                        <span class="pcoded-micon"><i class="feather icon-user"></i></span>
                            <span class="pcoded-mtext">Profile</span></a>
                </li>
                <li data-username="Settings Page" 
                    class="nav-item {% if 'settings' in segment %} active {% endif %} sidebar-settings-step1">
                    <a href="{% url 'view_networth_settings' %}" class="nav-link">
                        <span class="pcoded-micon"><i class="feather icon-settings"></i></span>
                            <span class="pcoded-mtext">Settings</span></a>
                </li>
                <li data-username="Backups Page" 
                    class="nav-item {% if 'backups' in segment %} active {% endif %} sidebar-settings-step1">
                    <a href="{% url 'view_backups' %}" class="nav-link">
                        <span class="pcoded-micon"><i class="fas fa-database"></i></span>
                            <span class="pcoded-mtext">Backups</span></a>
                </li>
                <li data-username="Uploads Page" 
                    class="nav-item {% if 'backups' in segment %} active {% endif %} sidebar-settings-step1">
                    <a href="{% url 'view_upload' %}" class="nav-link">
                        <span class="pcoded-micon"><i class="fas fa-upload"></i></span>
                            <span class="pcoded-mtext">Upload</span></a>
                </li>                 
                <li data-username="Disabled Menu" class="nav-item">
                    <a href="{% url 'logout' %}" class="nav-link">
                        <span class="pcoded-micon"><i class="feather icon-power"></i></span><span class="pcoded-mtext">Logout</span>
                    </a>
                </li>
                {% comment %} <li class="nav-item pcoded-menu-caption">
                    <label>More Resources</label>
                </li>                     {% endcomment %}
                {% comment %} <li data-username="Support Page" class="nav-item ">
                    <a  href="{% url 'support' %}" class="nav-link">
                        <span class="pcoded-micon">
                            <i class="feather icon-headphones"></i>
                        </span>
                        <span class="pcoded-mtext">Support</span>
                    </a>
                </li>                 {% endcomment %}
            </ul>
        </div>
    </div>
</nav>
<!-- [ navigation menu ] end -->


