<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    
	<title>
       InvestODiary - {% block title %}{% endblock %}
    </title>
    <!-- HTML5 Shim and Respond.js IE11 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 11]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js' %}"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js' %}"></script>
        <![endif]-->
    <!-- Meta -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="description" content="Our vision is to provide financial tools to people which help them to plan, invest and track their portfolios"/>
    <meta name="keywords" content="Investment Planning, Retirement Planning, Investment Tracking, Investment Management">
    <meta name="author" content="InvestODiary" />

    <!-- Favicon icon -->
    <link rel="icon" href="{% static 'assets/favicon.ico' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'assets/css/plugins/animate.min.css' %}">
    <!-- font css -->
    <link rel="stylesheet" href="{% static 'assets/fonts/feather/css/feather.css' %}">
    <link rel="stylesheet" href="{% static 'assets/fonts/fontawesome/css/fontawesome-all.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/fonts/material/css/materialdesignicons.min.css' %}">

    <!-- vendor css -->
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}" id="main-style-link">
    <link rel="stylesheet" href="{% static 'assets/css/landing.css' %}">

    <!-- Specific CSS goes HERE -->
    {% block stylesheets %}{% endblock stylesheets %}

</head>
<body class="">

	{% block content %}{% endblock content %}

	{% include 'esite/includes/scripts.html' %}

    <!-- Specific Page JS goes HERE  -->
    {% block javascripts %}{% endblock javascripts %}

</body>
</html>
