{% load static %}

<!-- [ call-to-action ] Start -->
<section class="call-to-action">
    <div class="container">
        <div class="cta-block text-center text-md-start">
            <div class="row justify-content-center align-items-center">
                <div class="col-md-auto">
                    <i class="fas fa-at"></i>
                </div>
                <div class="col-md-7 text-center text-md-start">
                    <div class="st_cta_content st_cta_content_v2 st-text-md-center m-md-b-50" style="border-right: 1px solid black;">
                        <h2 class="">Want to partner with <strong>us</strong>?</h2>
                        <p class=" mb-3 mb-sm-0">If you want to reach us for business related queries then please mail us and we will get back to you</p>
                    </div>
                </div>
                <div class="col-md-4 d-flex justify-content-center justify-content-md-end align-items-center">
                    <div class="h4 mt-3 mb-2" style="display: flex; align-items: center;padding:20px">business@investodiary.com</div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- [ call-to-action ] End -->