{% load static %}

<!-- [ FAQ ] Start -->
<section id="faq" class="FAQ theme-alt-bg">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-6 col-md-9 title">
                <h2>Frequently Asked <span>Questions</span></h2>
                <p class="m-0">Each Layout is identical to its way. We have a plan to release more layouts in future
                    updates Quickly create your stunning backend project with Datta Able</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 mb-4">
                <h5 class="">What is <u> Datta Able</u>?</h5>
                <p>Datta Able is premium dashboard template comes with tons of layout options, widgets, ready to
                    use
                    pages which completely suitable for any simple/complex project.</p>
            </div>
            <div class="col-lg-6 mb-4">
                <h5 class="">Why <u>choose</u> Datta Able?</h5>
                <p>Datta Able is made by Codedthemes's experience coders and designers. Well tested bug free
                    code, easy
                    to use flexible structure makes Datta Able a really differ from other templates. We
                    almost cover every possible plugins, components which helps you start immediately on your
                    project.</p>
            </div>
            <div class="col-lg-6 mb-4">
                <h5 class="">What about Item <u>Support</u>?</h5>
                <p>6 month item support for any bugs, design issue in current version of template. We are not
                    provide support for any custom work implementation.</p>
            </div>
            <div class="col-lg-6 mb-4">
                <h5 class="">What is Support <u>Turnaround time</u>?</h5>
                <p>When you comment or submit the ticket for support. Our team takes it seriously and respond it
                    within a Half or Full day.</p>
            </div>
            <div class="col-lg-6 mb-4">
                <h5 class="">Browser <u>Support?</u></h5>
                <p class="mb-0">Well tested on IE=>11, Edge, Chrome, Mozilla, Safari, Opera</p>
            </div>
            <div class="col-12">
                <h3 class="">Final Words -<u>Reason to choose Datta Able</u>?</h3>
                <p>Flexible code structure, easy helper guide (i.e. just copy/paste code with single click UI kit),
                    vast amount of components and layouts to choose, live customizer for your easy to choose layout
                    setting options make Datta Able a
                    really suitable for any level of developers.</p>
            </div>
            <div class="col-12">
                <div class="text-center mt-sm-5">
                    <h5>Still have any Question?</h5>
                    <div class="btn btn-primary"><i data-feather="mail"></i> Email us</div>
                    <div class="btn btn-secondary"><i data-feather="message-square"></i> Visite Forum</div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- [ FAQ ] end -->