{% extends "layouts/base-fullscreen.html" %}

{% block title %} Forgot Password {% endblock %}

{% block content %}
<div class="auth-wrapper">
    <div class="auth-content">
        <div class="auth-bg">
            <span class="r"></span>
            <span class="r s"></span>
            <span class="r s"></span>
            <span class="r"></span>
        </div>
        <div class="card">
            <div class="card-body text-center">

                <h3 class="mb-4">Forgot Password</h3>

                <span class="mb-0 text-muted">
                    {% if msg %}
                        <span class="text-danger">{{ msg | safe }}</span>
                    {% else %}
                        
                    {% endif %} 
                    <p class="mb-0 text-muted">We will mail you the instructions</p>
                    <h5 class="mb-4"></h5>
                    <form method="post" action="{% url 'custom_password_reset' %}">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <a href="{% url 'login' %}" class="btn btn-secondary shadow-2 mb-4" style="color:white">Back</a>
                        <button type="submit" name="send_email" class="btn btn-primary shadow-2 mb-4">Send</button>
                    </form>
                </span>
            </div>
        </div>
    </div>
</div>        
{% endblock %}