{% load static %}
<!-- ============================================-->
        <!-- <section> begin ============================-->
            <section class="bg-body-emphasis" id="blog">
  
                <div class="container-small px-lg-7 px-xxl-3">
                  <div class="row">
                    <div class="col-12 mb-4 text-center text-sm-start">
                      <h4 class="text-primary fw-bolder mb-3">Blog</h4>
                      <h2>Latest articles</h2>
                    </div>
                    <div class="col-lg-6 text-center text-sm-start">
                      <p>See the latest articles we published with this dashboard. Your customers will be happy to find all the latest posts in one place. This menu efficiently shows all related topics from search filters and provides the customers with what</p>
                    </div>
                    <div class="col-lg-6 text-center text-sm-start">
                      <p>they need. Also you can just educate your customers about everything they need to know and follow to avail a service with you. This menu is the one to show them that.</p>
                    </div>
                  </div>
                  <div class="row h-100 g-3 justify-content-center">
                    <div class="col-sm-6 col-lg-3 mb-3 mb-md-0">
                      <div class="card text-white dark__text-gray-1100 h-100"><img class="rounded-top h-100 fit-cover" src="../../assets/img/blog/blog-1.png" alt="..." />
                        <div class="card-body rounded-top">
                          <div class="d-flex align-items-cente mb-3">
                            <div class="d-flex align-items-center me-3"><a class="btn-link text-decoration-none d-flex align-items-center" href="#!"><span class="fa-solid fa-eye text-body-quaternary me-1"></span><span class="text-body fs-10 lh-1">2563</span></a></div>
                            <div class="d-flex align-items-center me-3"><a class="btn-link text-decoration-none d-flex align-items-center" href="#!"><span class="fa-solid fa-heart text-body-quaternary me-1"></span><span class="text-body fs-10 lh-1">125</span></a></div>
                            <div class="d-flex align-items-center"><a class="btn-link text-decoration-none d-flex align-items-center" href="#!"><span class="fa-solid fa-comment text-body-quaternary me-1"></span><span class="text-body fs-10 lh-1">125</span></a></div>
                          </div><span class="badge badge-phoenix badge-phoenix-primary mb-2">SEO</span>
                          <h4 class="fw-bold mb-3 lh-sm line-clamp-2">Top 10 ways to Ace SEO for your business</h4><a class="btn-link px-0 d-flex align-items-center fs-9 fw-bold" href="#!" role="button">Read more<span class="fa-solid fa-angle-right ms-2"></span></a>
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-6 col-lg-3 mb-3 mb-md-0">
                      <div class="card text-white dark__text-gray-1100 h-100"><img class="rounded-top h-100 fit-cover" src="../../assets/img/blog/blog-2.png" alt="..." />
                        <div class="card-body rounded-top">
                          <div class="d-flex align-items-cente mb-3">
                            <div class="d-flex align-items-center me-3"><a class="btn-link text-decoration-none d-flex align-items-center" href="#!"><span class="fa-solid fa-eye text-body-quaternary me-1"></span><span class="text-body fs-10 lh-1">1256</span></a></div>
                            <div class="d-flex align-items-center me-3"><a class="btn-link text-decoration-none d-flex align-items-center" href="#!"><span class="fa-solid fa-heart text-body-quaternary me-1"></span><span class="text-body fs-10 lh-1">325</span></a></div>
                            <div class="d-flex align-items-center"><a class="btn-link text-decoration-none d-flex align-items-center" href="#!"><span class="fa-solid fa-comment text-body-quaternary me-1"></span><span class="text-body fs-10 lh-1">32</span></a></div>
                          </div><span class="badge badge-phoenix badge-phoenix-primary mb-2">Marketing</span>
                          <h4 class="fw-bold mb-3 lh-sm line-clamp-2">Top 12 Marketing strategies you can take</h4><a class="btn-link px-0 d-flex align-items-center fs-9 fw-bold" href="#!" role="button">Read more<span class="fa-solid fa-angle-right ms-2"></span></a>
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-6 col-lg-3 mb-3 mb-md-0">
                      <div class="card text-white dark__text-gray-1100 h-100"><img class="rounded-top h-100 fit-cover" src="../../assets/img/blog/blog-3.png" alt="..." />
                        <div class="card-body rounded-top">
                          <div class="d-flex align-items-cente mb-3">
                            <div class="d-flex align-items-center me-3"><a class="btn-link text-decoration-none d-flex align-items-center" href="#!"><span class="fa-solid fa-eye text-body-quaternary me-1"></span><span class="text-body fs-10 lh-1">142</span></a></div>
                            <div class="d-flex align-items-center me-3"><a class="btn-link text-decoration-none d-flex align-items-center" href="#!"><span class="fa-solid fa-heart text-body-quaternary me-1"></span><span class="text-body fs-10 lh-1">123</span></a></div>
                            <div class="d-flex align-items-center"><a class="btn-link text-decoration-none d-flex align-items-center" href="#!"><span class="fa-solid fa-comment text-body-quaternary me-1"></span><span class="text-body fs-10 lh-1">22</span></a></div>
                          </div><span class="badge badge-phoenix badge-phoenix-primary mb-2">Marketing</span>
                          <h4 class="fw-bold mb-3 lh-sm line-clamp-2">The top 7 methods to improve as a marketer</h4><a class="btn-link px-0 d-flex align-items-center fs-9 fw-bold" href="#!" role="button">Read more<span class="fa-solid fa-angle-right ms-2"></span></a>
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-6 col-lg-3 mb-3 mb-md-0">
                      <div class="card text-white dark__text-gray-1100 h-100"><img class="rounded-top h-100 fit-cover" src="../../assets/img/blog/blog-4.png" alt="..." />
                        <div class="card-body rounded-top">
                          <div class="d-flex align-items-cente mb-3">
                            <div class="d-flex align-items-center me-3"><a class="btn-link text-decoration-none d-flex align-items-center" href="#!"><span class="fa-solid fa-eye text-body-quaternary me-1"></span><span class="text-body fs-10 lh-1">2563</span></a></div>
                            <div class="d-flex align-items-center me-3"><a class="btn-link text-decoration-none d-flex align-items-center" href="#!"><span class="fa-solid fa-heart text-body-quaternary me-1"></span><span class="text-body fs-10 lh-1">325</span></a></div>
                            <div class="d-flex align-items-center"><a class="btn-link text-decoration-none d-flex align-items-center" href="#!"><span class="fa-solid fa-comment text-body-quaternary me-1"></span><span class="text-body fs-10 lh-1">112</span></a></div>
                          </div><span class="badge badge-phoenix badge-phoenix-primary mb-2">Tech</span>
                          <h4 class="fw-bold mb-3 lh-sm line-clamp-2">Best places for a tech job in U.S</h4><a class="btn-link px-0 d-flex align-items-center fs-9 fw-bold" href="#!" role="button">Read more<span class="fa-solid fa-angle-right ms-2"></span></a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="text-center mt-6"><a class="btn btn-outline-primary" href="#!">View All<span class="fa-solid fa-angle-right ms-2"></span></a></div>
                </div><!-- end of .container-->
        
              </section>
              <!-- <section> close ============================-->
              <!-- ============================================-->