{% load static %}

        <!-- ============================================-->
        <!-- <section> begin ============================-->
            <section class="bg-body-emphasis" id="contact-us">
  
                <div class="container-small px-lg-7 px-xxl-3">
                  <div class="row g-5 g-lg-5">
                    <div class="col-md-6 mb-5 mb-md-0 text-center text-md-start">
                      <h3 class="mb-3">Stay connected</h3>
                      <p class="mb-5">Stay connected with IOD's Help Center; IOD is available for your necessities at all times.</p>
                      <div class="d-flex flex-column align-items-center align-items-md-start gap-3 gap-md-0">
                        <div class="d-md-flex align-items-center">
                          <div class="icon-wrapper shadow-info"><span class="uil uil-phone text-primary fs-4 z-1 ms-2" data-bs-theme="light"></span></div>
                          <div class="flex-1 ms-3"><a class="link-900" href="tel:+871406-7509">(863) 920-7049</a></div>
                        </div>
                        <div class="d-md-flex align-items-center">
                          <div class="icon-wrapper shadow-info"><span class="uil uil-envelope text-primary fs-4 z-1 ms-2" data-bs-theme="light"></span></div>
                          <div class="flex-1 ms-3"><a class="fw-semibold text-body" href="mailto:phoenix@email.com">connect@investodiary.com</a></div>
                        </div>
                        <div class="mb-6 d-md-flex align-items-center">
                          <div class="icon-wrapper shadow-info"><span class="uil uil-map-marker text-primary fs-4 z-1 ms-2" data-bs-theme="light"></span></div>
                          <div class="flex-1 ms-3"><a class="fw-semibold text-body" href="#!">Hyderabad, Made in India with <i class="fa-solid fs-8 fa-heart"></i></span></a></div>
                        </div>
                        <div class="d-flex">
                          <a href="https://www.youtube.com/channel/UC0W__sBUBsMrVQxN2CwZJmA"><span class="fa-brands fa-youtube fs-6 text-primary me-3"></span></a>
                          <a href="https://twitter.com/investodiary"><span class="fa-brands fa-twitter fs-6 text-primary me-3"></span></a>
                          <a href="https://www.instagram.com/investodiary/"><span class="fa-brands fa-instagram fs-6 text-primary"></span></a>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6 text-center text-md-start">
                      <h3 class="mb-3">Drop us a line</h3>
                      <p class="mb-7">If you have any query or suggestion , we are open to learn from you, Lets talk, reach us anytime.</p>
                    </div>
                  </div>
                </div><!-- end of .container-->
        
              </section>
              <!-- <section> close ============================-->
              <!-- ============================================-->