{% load static %}
<!-- ============================================-->
<!-- Features <section> begin ============================-->
<section class="pt-15 pb-0" id="feature">
  <div class="container-small px-lg-7 px-xxl-3">
    <div class="position-relative z-2">
      <div class="row">
        <div class="col-lg-6 text-center text-lg-start pe-xxl-3">
          <h4 class="text-primary fw-bolder mb-4">Features</h4>
          <h2 class="mb-3 text-body-emphasis lh-base">
            Seamless Platform: Investment Planning <br class="d-md-none" /> & Management
          </h2>
          <p class="mb-5">
            Use InvestODiary to plan your multi-asset portfolio built with stocks, funds, bonds or commodities
            completely designed and managed by you. InvestODiary lets you have a bird's-eye view of entire portfolio,
            while also offering the ability to delve into more granular details. Your one stop location. Your investment diary.
          </p>
          <a
            class="btn btn-lg btn-outline-primary rounded-pill me-2"
            href="https://www.youtube.com/watch?v=9ppF7TJBNUY&list=PLk5XTT96lWnVDnn_UiN6NwPR7T2H291J3&index=1"
            role="button"
            >Find out more<i class="fa-solid fa-angle-right ms-2"></i
          ></a>
        </div>
        <div class="col-sm-6 col-lg-3 mt-7 text-center text-lg-start">
          <div class="h-100 d-flex flex-column justify-content-between">
            <div class="border-start-lg border-translucent border-dashed ps-4">
              <img
                class="mb-4"
                src="{% static 'assets/img/icons/illustrations/22.png'%}"
                width="48"
                height="48"
                alt=""
              />
              <div>
                <h5 class="fw-bolder mb-2">Keep a track of your investments</h5>
                <p class="fw-semibold lh-sm">
                  Track your investments spread across various brokerages or trading accounts.
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-lg-3 mt-7 text-center text-lg-start">
          <div class="h-100 d-flex flex-column">
            <div class="border-start-lg border-translucent border-dashed ps-4">
              <img
                class="mb-4"
                src="{% static 'assets/img/icons/illustrations/pie.png'%}"
                width="48"
                height="48"
                alt=""
              />
              <div>
                <h5 class="fw-bolder mb-2">All-in-one solution</h5>
                <p class="fw-semibold lh-sm">
                  Break down your portfolio into different categories and create allocation based on risk tolerance or category performance. Invest as per allocation and Review your portfolios.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div
        class="row mt-12 align-items-center justify-content-between text-center text-lg-start mb-6 mb-lg-0"
      >
        <div class="col-lg-5">
          <img
            class="feature-image img-fluid mb-9 mb-lg-0 d-dark-none"
            src="{% static 'assets/img/spot-illustrations/22_2.png'%}"
            alt=""
          /><img
            class="feature-image img-fluid mb-9 mb-lg-0 d-light-none"
            src="{% static 'assets/img/spot-illustrations/dark_22.png'%}"
            alt=""
          />
        </div>
        <div class="col-lg-6">
          <h6 class="text-primary mb-2 ls-2">Share your portfolio</h6>
          <h3 class="fw-bolder mb-3">Keep your nominee informed about your investments</h3>
          <p class="mb-4 px-md-7 px-lg-0">
            InvestODiary provides you option to create a nominee and share your high level portfolio details with your nominee.
          </p>
        </div>
      </div>
      <div
        class="row mt-2 align-items-center justify-content-between text-center text-lg-start mb-6 mb-lg-0"
      >
        <div class="col-lg-5 order-0 order-lg-1">
          <img
            class="feature-image img-fluid mb-9 mb-lg-0 d-dark-none"
            src="{% static 'assets/img/spot-illustrations/23_2.png'%}"
            height="394"
            alt=""
          /><img
            class="feature-image img-fluid mb-9 mb-lg-0 d-light-none"
            src="{% static 'assets/img/spot-illustrations/dark_23.png'%}"
            height="394"
            alt=""
          />
        </div>
        <div class="col-lg-6">
          <h6 class="text-primary mb-2 ls-2">Monitor</h6>
          <h3 class="fw-bolder mb-3">Monitor if your investments are meeting your financial goals</h3>
          <p class="mb-4 px-md-7 px-lg-0">
            Confused about your portfolio performance across asset types, market caps, fund type, sector wise. Not anymore, you can actually view your real performance in each category, asset group and instrument.
          </p>
        </div>
      </div>
      <div
        class="row mt-2 align-items-center justify-content-between text-center text-lg-start mb-6 mb-lg-0"
      >
        <div class="col-lg-5">
          <img
            class="feature-image img-fluid mb-9 mb-lg-0 d-dark-none"
            src="{% static 'assets/img/spot-illustrations/24_2.png'%}"
            height="394"
            alt=""
          /><img
            class="feature-image img-fluid mb-9 mb-lg-0 d-light-none"
            src="{% static 'assets/img/spot-illustrations/dark_24.png'%}"
            height="394"
            alt=""
          />
        </div>
        <div class="col-lg-6 text-center text-lg-start">
          <h6 class="text-primary mb-2 ls-2">Allocation</h6>
          <h3 class="fw-bolder mb-3">Protect your investments from market risks by using allocation</h3>
          <p class="mb-4 px-md-7 px-lg-0">
            Allocation is key to protect yourself from market volatility and market related risks. InvestODiary provides extensive 
            flexibility to design your portfolio using allocation based on your risk profile and financial goals
          </p>
        </div>
      </div>
    </div>
  </div>
  <!-- end of .container-->
</section>
<!-- <section> close ============================-->
<!-- ============================================-->
