{% load static %}
      <!-- ============================================-->
        <!-- <section> begin ============================-->
            <section class="bg-body-emphasis pb-0">
  
                <div class="container-small px-lg-7 px-xxl-3">
                  <div class="row justify-content-center">
                    <div class="col-12 text-center">
                      <div class="card py-md-9 px-md-13 border-0 z-1 shadow-lg cta-card">
                        <div class="bg-holder" style="background-image:url(../../assets/img/bg/bg-18.png);background-position:right;background-size:auto;">
                        </div>
                        <!--/.bg-holder-->
        
                        <div class="card-body position-relative"><img class="img-fluid mb-5 d-dark-none" src="../../assets/img/spot-illustrations/27.png" width="210" alt="..." /><img class="img-fluid mb-5 d-light-none" src="../../assets/img/spot-illustrations/dark_27.png" width="210" alt="..." />
                          <div class="d-flex align-items-center fw-bold justify-content-center mb-3">
                            <p class="mb-0">2008 Premium Icons </p><span class="text-primary fa-solid fa-circle" data-fa-transform="shrink-12"></span>
                            <p class="mb-0">Included FREE with it</p>
                          </div>
                          <h1 class="fs-6 fs-sm-4 fs-lg-2 fw-bolder lh-sm mb-3">Join<span class="gradient-text-primary mx-2">Phoenix</span><span>Today</span></h1>
                          <form class="d-flex justify-content-center mb-3 px-xxl-12">
                            <div class="d-grid d-sm-block"></div>
                            <input class="form-control me-3" id="ctaEmail1" type="email" placeholder="Email" aria-describedby="ctaEmail1" />
                            <button class="btn btn-primary" type="submit">Subscribe</button>
                          </form>
                          <p>Best support in the world, Only Phoenix can ensure </p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div><!-- end of .container-->
        
              </section>
              <!-- <section> close ============================-->
              <!-- ============================================-->
        