{% load static %}

<!-- [ feature ] Start -->
<section id="features" style="padding-bottom:0px">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-6 col-md-9 title">
                <h2>InvestODiary <span> Features</span></h2>
                <p class="m-0">Our vision is to provide financial tools to people which help them to plan, invest and track their portfolios</p>
            </div>
        </div>
        <div class="row feature-row">
            <div class="col-lg-4 col-md-6">
                <div class="feature-block wow animate__fadeInUp" data-wow-delay="0.2s">
                    <div class="feature-icon"><i class="fab fa-readme"></i></div>
                    <h4>Keep a track of your investments</h4>
                    <p>Track your investments spread across various brokerages or trading accounts<br /></p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="feature-block wow animate__fadeInUp" data-wow-delay="0.4s">
                    <div class="feature-icon"><i class="fas fa-tachometer-alt"></i></div>
                    <h4>Track your real performance</h4>
                    <p>Confused about your portfolio performance across asset types, market caps, fund type, sector wise. Not anymore, you can actually view your real performance 
                        in each category, asset group and instrument.
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="feature-block wow animate__fadeInUp" data-wow-delay="0.6s">
                    <div class="feature-icon"><i class="fas fa-balance-scale"></i></div>
                    <h4>Plan your investments using allocation</h4>
                    <p>Break down your portfolio into different categories and create allocation based on risk tolerance or category performance. Invest as per allocation 
                        and Review your portfolios</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="feature-block wow animate__fadeInUp" data-wow-delay="0.2s">
                    <div class="feature-icon"><i class="fas fa-weight"></i></div>
                    <h4>Share your portfolio</h4>
                    <p>Add a nominee and share your portfolio updates with them.</p>
                </div>
            </div>
            {% comment %} <div class="col-lg-4 col-md-6">
                <div class="feature-block wow animate__fadeInUp" data-wow-delay="0.4s">
                    <div class="feature-icon"><i class="fas fa-hands-helping"></i></div>
                    <h4>Support</h4>
                    <p>Support first. Low turn around time to get resolve your techincal query.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="feature-block wow animate__fadeInUp" data-wow-delay="0.6s">
                    <div class="feature-icon"><i class="fab fa-youtube"></i></div>
                    <h4>Video Tutorials</h4>
                    <p>Installation, Configuration settings, How-to video tutorial series.</p>
                </div>
            </div> {% endcomment %}
        </div>
    </div>
</section>
<!-- [ feature ] End -->