{% load static %}

<!-- [ Footer ] Start -->
<div class="footer-top"></div>
<footer class="bg-dark">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-lg-4">
                <ul class="list-unstyled">
                    <li>
                        <a href="#"><img src="{% static 'assets/images/logo.png' %}" alt="logo"></a>
                    </li>
                    <li class="mt-3 mb-3">
                        <p>Easy - Flexible - Always updated - makes Datta Able a really powerful backend
                            template.</p>
                    </li>
                    <li class="mt-3 mb-3 d-flex align-items-center">
                        <a class="d-inline-block" href="http://Codedthemes.ticksy.com">Support by Ticksy</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-6 col-lg-4">
                <h5>Useful links</h5>
                <ul class="list-unstyled">
                    <li class="mt-2 mb-2"><a href="#" target="_blank">Rate Datta Able</a></li>
                    <li class="mt-2 mb-2"><a href="#" target="_blank">Collection</a></li>
                    <li class="mt-2 mb-2"><a href="#" target="_blank">Themeforest Profile</a> </li>
                    <li class="mt-2 mb-2"><a href="#" target="_blank">Portfolio</a></li>
                </ul>
            </div>
            <div class="col-md-6 col-lg-4">
                <h5>Trending Items</h5>
                <ul class="list-unstyled">
                    <li class="mt-2 mb-2"><a href="#" target="_blank" class="d-flex align-items-center">Able pro
                            v7.0<span class="badge bg-danger ms-2">Hot</span></a> </li>
                    <li class="mt-2 mb-2"><a href="#" target="_blank" class="d-flex align-items-center">Dash
                            Able<span class="badge bg-primary ms-2">New</span></a> </li>
                    <li class="mt-2 mb-2"><a href="#" target="_blank">Flat Able</a></li>
                    <li class="mt-2 mb-2"><a href="#" target="_blank">Mega Able</a> </li>
                </ul>
                <h5 class="mt-4">Follow Us</h5>
                <ul class="list-inline list-unstyled sos-icon">
                    <li><a href="#" target="_blank" class="btn-facebook"><i class="fab fa-facebook-f"></i></a></li>
                    <li><a href="#" target="_blank" class="btn-twitter"><i class="fab fa-twitter"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container b-footer">
        <p>
            &copy; Codedthemes - coded by 
            <a href="https://appseed.us/product/datta-able-pro/" target="_blank">AppSeed</a>
        </p>
        <span class="bottom-tag">Datta Able PRO</span>
    </div>
</footer>