{% load static %}
<style>
    /* CSS for desktop */
    #video-frame {
        width: 860px;
        height: 415px;
    }

    /* CSS for mobile */
    @media (max-width: 768px) {
        #video-frame {
            width: 100%;
            height: auto;
        }
    }
</style>

<!-- [ Header ] start -->
<header id="home">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-sm-5">
                <h5 class="mt-3 text-white-50 wow animate__fadeInLeft" data-wow-delay="0.2s">Advanced tools for Advanced Investors</h5>
                <h2 class="mt-sm-3 mb-sm-4 text-white wow animate__fadeInLeft" data-wow-delay="0.4s">
                    Where is the money?
                </h2>
                <p class="mb-sm-4 wow animate__fadeInLeft" data-wow-delay="0.6s">
                    Use InvestODiary to plan your multi-asset portfolio built with stocks, funds, bonds or commodities
                    completely designed and managed by you. InvestODiary lets you have a bird's-eye view of entire portfolio,
                    while also offering the ability to delve into more granular details. Your one stop location. Your investment diary.
                </p>
                <div class="my-4 wow animate__fadeInLeft" data-wow-delay="3s">
                    <h2 class="mt-sm-3 mb-sm-4 text-white wow animate__fadeInLeft" data-wow-delay="0.4s">
                        Plan, Invest and Track
                    </h2>
                </div>
            </div>
            <div class="col-sm-7">
                {% comment %} <img src="{% static 'assets/front/header-mokeup2.jpg' %}" alt="Datta Able Admin Template"
                    class="img-fluid header-img wow animate__fadeInRight" data-wow-delay="0.2s">  {% endcomment %}
                    <center class="img-fluid header-img wow animate__fadeInRight" data-wow-delay="0.2s">
                        <iframe id="video-frame" src="https://www.youtube.com/embed/TLk0QpB4obU?autoplay=1&mute=1" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                    </center>
            </div>
        </div>
    </div>
</header>
<!-- [ Header ] End -->