<!-- [ testimonial ] Start -->
<section id="testimonial" class="theme-alt-bg">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-6 col-md-9 title">
                <h2>what our <span>client says</span>! </h2>
                <p class="m-0">Each Layout is identical to its way. We have a plan to release more layouts in future
                    updates Quickly create your stunning backend project with Datta Able</p>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
                    <div class="row justify-content-center">
                        <div class="col-md-11 col-xl-10 col-xxl-9">
                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="testimonial-block wow animate__fadeInUp"
                                                data-wow-delay="0.2s">
                                                <div class="test-quote">
                                                    <i class="fas fa-quote-left"></i>
                                                </div>
                                                <h4 class="mb-sm-3">Code organization is very powerful</h4>
                                                <p class="text-muted mb-sm-4">Amazing template, the view is
                                                    wonderful the colors make a nice composition and the most
                                                    important the code organization is very powerful and clean,
                                                    <strong>easy to use
                                                    </strong>every component, I
                                                    really love it... good Job for your team...
                                                </p>
                                                <h6 class="mb-0">Mr. Joseph William</h6>
                                                <span class="text-muted">Sr. developer</span>
                                                <div class="test-img">
                                                    <img src="{% static 'assets/images/user/avatar-2.jpg' %}"
                                                        alt="user-image" class="user-avtar">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="testimonial-block wow animate__fadeInUp"
                                                data-wow-delay="0.4s">
                                                <div class="test-quote">
                                                    <i class="fas fa-quote-left"></i>
                                                </div>
                                                <h4 class="mb-sm-3">FAR the best I've come across</h4>
                                                <p class="text-muted mb-sm-4">Amazing template, the view is
                                                    wonderful the colors make a nice composition and the most
                                                    important the code organization is very powerful and clean,
                                                    <strong>easy to use
                                                    </strong>every component, I
                                                    really love it... good Job for your team...
                                                </p>
                                                <h6 class="mb-0">Mr. Joseph William</h6>
                                                <span class="text-muted">Sr. developer</span>
                                                <div class="test-img">
                                                    <img src="{% static 'assets/images/user/avatar-1.jpg' %}"
                                                        alt="user-image" class="user-avtar">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="carousel-item">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="testimonial-block wow animate__fadeInUp"
                                                data-wow-delay="0.2s">
                                                <div class="test-quote">
                                                    <i class="fas fa-quote-left"></i>
                                                </div>
                                                <h4 class="mb-sm-3">No exceptions using this product</h4>
                                                <p class="text-muted mb-sm-4">Amazing template, the view is
                                                    wonderful the colors make a nice composition and the most
                                                    important the code organization is very powerful and clean,
                                                    <strong>easy to use
                                                    </strong>every component, I
                                                    really love it... good Job for your team...
                                                </p>
                                                <h6 class="mb-0">Mr. Joseph William</h6>
                                                <span class="text-muted">Sr. developer</span>
                                                <div class="test-img">
                                                    <img src="{% static 'assets/images/user/avatar-3.jpg' %}"
                                                        alt="user-image" class="user-avtar">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="testimonial-block wow animate__fadeInUp"
                                                data-wow-delay="0.4s">
                                                <div class="test-quote">
                                                    <i class="fas fa-quote-left"></i>
                                                </div>
                                                <h4 class="mb-sm-3">Better support!</h4>
                                                <p class="text-muted mb-sm-4">Amazing template, the view is
                                                    wonderful the colors make a nice composition and the most
                                                    important the code organization is very powerful and clean,
                                                    <strong>easy to use
                                                    </strong>every component, I
                                                    really love it... good Job for your team...
                                                </p>
                                                <h6 class="mb-0">Mr. Joseph William</h6>
                                                <span class="text-muted">Sr. developer</span>
                                                <div class="test-img">
                                                    <img src="{% static 'assets/images/user/avatar-4.jpg' %}"
                                                        alt="user-image" class="user-avtar">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="carousel-item">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="testimonial-block">
                                                <div class="test-quote">
                                                    <i class="fas fa-quote-left"></i>
                                                </div>
                                                <h4 class="mb-sm-3">Code organization is very powerful</h4>
                                                <p class="text-muted mb-sm-4">Amazing template, the view is
                                                    wonderful the colors make a nice composition and the most
                                                    important the code organization is very powerful and clean,
                                                    <strong>easy to use
                                                    </strong>every component, I
                                                    really love it... good Job for your team...
                                                </p>
                                                <h6 class="mb-0">Mr. Joseph William</h6>
                                                <span class="text-muted">Sr. developer</span>
                                                <div class="test-img">
                                                    <img src="{% static 'assets/images/user/avatar-2.jpg' %}"
                                                        alt="user-image" class="user-avtar">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="testimonial-block">
                                                <div class="test-quote">
                                                    <i class="fas fa-quote-left"></i>
                                                </div>
                                                <h4 class="mb-sm-3">Code organization is very powerful</h4>
                                                <p class="text-muted mb-sm-4">Amazing template, the view is
                                                    wonderful the colors make a nice composition and the most
                                                    important the code organization is very powerful and clean,
                                                    <strong>easy to use
                                                    </strong>every component, I
                                                    really love it... good Job for your team...
                                                </p>
                                                <h6 class="mb-0">Mr. Joseph William</h6>
                                                <span class="text-muted">Sr. developer</span>
                                                <div class="test-img">
                                                    <img src="{% static 'assets/images/user/avatar-5.jpg' %}"
                                                        alt="user-image" class="user-avtar">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <ol class="carousel-indicators test-indicators">
                        <li data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active"></li>
                        <li data-bs-target="#carouselExampleDark" data-bs-slide-to="1"></li>
                        <li data-bs-target="#carouselExampleDark" data-bs-slide-to="2"></li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- [ testimonial ] End -->