<!DOCTYPE html>
{% load static %}

<html lang="en">
<head>
    
	<title>
        InvestODiary - {% block title %}{% endblock %}
    </title>
    <!-- custom head javascripts links[added by us] -->
    <script src="{{ ASSETS_ROOT }}/js/plugins/jquery.min.js"></script>
    <!-- HTML5 Shim and Respond.js IE11 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 11]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js' %}"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js' %}"></script>
        <![endif]-->
    <!-- Meta -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="description" content="InvestODiary is an investment platform with tools for advanced retail investors to track and plan their investments."/>
    <meta name="keywords" content="Financial Planning, Financial Tracking, Financial Management, Diary for investments,Investments Diary ,Finance Monitoring, Risk Control">
    <meta name="author" content="InvestODiary" />

    <!-- Favicon icon -->
    <link rel="icon" href="{% static 'assets/favicon.ico' %}" type="image/x-icon">
    <!-- fontawesome icon -->
    <link rel="stylesheet" href="{% static 'assets/fonts/fontawesome/css/fontawesome-all.min.css' %}">
    <!-- animation css -->
    <link rel="stylesheet" href="{% static 'assets/css/plugins/animate.min.css' %}">
	<link rel="stylesheet" href="{% static 'assets/css/plugins/perfect-scrollbar.css' %}">

    <!-- vendor css -->
    <link rel="stylesheet" href="{% static 'assets/css/style.min.css' %}">

    <!-- Specific CSS goes HERE -->
    {% block stylesheets %}{% endblock stylesheets %}

</head>
<body class="">

	<!-- [ Pre-loader ] start -->
	<div class="loader-bg">
		<div class="loader-track">
			<div class="loader-fill"></div>
		</div>
	</div>
	<!-- [ Pre-loader ] End --> 

	{% include 'includes/sidebar.html' %}
    
	{% include 'includes/navigation.html' %}

	{% include 'includes/header-user-list.html' %}

	{% include 'includes/header-chat.html' %} 

	{% block content %}{% endblock content %}

	{% include 'includes/scripts.html' %}

    <!-- Specific Page JS goes HERE  -->
    {% block javascripts %}{% endblock javascripts %}

    
	<script>
        // Get the header element by its class name
    var header = document.getElementById("custom-header-id");
    
    // Get the width of the device screen
    var width = window.innerWidth;

    // Set a threshold for desktop and mobile devices
    var threshold = 600; // You can adjust this value according to your preference

    // Check if the device is desktop or mobile
    if (width > threshold) {
    // If the device is desktop, add the hideheader class to the header element
    header.classList.add("hideheader");
    } else {
    // If the device is mobile, remove the hideheader class from the header element
    header.classList.remove("hideheader");
    }
    </script>
</body>
</html>
