# media pdf
core/media/

#.env 
*.env
*.webenv

# byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
apps/__pycache__

# */home/migrations/*
# */configuration/migrations/*

#vscode
*.vscode/

# tests and coverage
*.pytest_cache
.coverage
htmlcov
report.html
coverage_html_report
coverage.json

#logs
logs/*

# database & logs
*.db
*.sqlite3
*.log

# venv
env
venv
.venv
djangoenv

# other
.DS_Store

# coverage
htmlcov/
.coverage
.coverage.*
coverage.xml
*.cover

# javascript
package-lock.json

#static
static/*
!static/.gitkeep
staticfiles/*
!staticfiles/.gitkeep 
.vscode/symbols.json

apps/static/assets/node_modules
apps/static/assets/yarn.lock
apps/static/assets/.temp

.env__
