{% extends "layouts/base.html" %}
{% load static %}

{% block title %} Backups Summary {% endblock %} 

<!-- Specific CSS goes HERE -->
{% block stylesheets %}
<style>
    .right-align {
        float: right;
        clear: both; /* Clear float to prevent overlapping */
    }
</style>
<!-- enjoyhint css -->
<link rel="stylesheet" href="{% static 'assets/css/plugins/introjs.min.css' %}">

{% endblock stylesheets %}

{% block content %}
   <!-- [ Main Content ] start -->
   <div class="pcoded-main-container">
        <div class="pcoded-wrapper">
            <div class="pcoded-content">
                <div class="pcoded-inner-content">
                    <!-- [ breadcrumb ] start -->
                    <div class="page-block">
                        <div class="row align-items-center">
                            <div class="col-md-12">
                                <div class="page-header-title">
                                    <h5 class="m-b-10"></h5>
                                </div>
                                <ul class="breadcrumb">
                                    
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- [ breadcrumb ] end -->
                    <div class="main-body">
                        <div class="page-wrapper">
                            <div class="row">
                                <div class="col-sm-9">
                                    {% if is_edit %}
                                        <div class="col-sm-5">
                                            <div class="card">
                                                <div class="card-body">
                                                    <h5>Edit Category</h5>
                                                    <hr>
                                                    <div class="form-container" >
                                                        <form method="post" class="needs-validation" novalidate action="">
                                                            {% csrf_token %}
                                                            <div class="form-group">
                                                                    <label for="{{ form.name.id_for_label }}">Backup Name</label>
                                                                <input type="text" name="{{ form.name.name }}" id="{{ form.name.id_for_label }}" required="" class="form-control" value="{%if form.name.value%}{{form.name.value}}{%endif%}">
                                                                <div class="invalid-feedback">
                                                                    Please enter a valid name.
                                                                </div>
                                                                {% if form.errors.name %}
                                                                    <div class="invalid-feedback" style="display: block;font-size: 85%;" >
                                                                        <i class="feather icon-slack"></i>
                                                                        {{ form.errors.name|join:", " }}
                                                                    </div>
                                                                {% endif %}
                                                            </div>
                                                            <div class="form-group">
                                                                <input type="submit" value="Submit" class="btn btn-primary">
                                                                <a href="{% url 'view_backups' %}" class="btn btn-secondary">Cancel</a>
                                                              </div>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        {% else %}
                                            <div class="card">
                                                <div class="card-header networth-summary-step1">
                                                    <h5>Backup Summary</h5>
                                                </div>
                                                <div class="card-block table-border-style">
                                                    <div class="table-responsive">
                                                        {% if  backup_list %}
                                                        <table class="table">
                                                            <thead>
                                                                <tr>
                                                                    <th>#</th>
                                                                    <th>Backup Name</th>
                                                                    <th>Status</th>
                                                                    <th>Action</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                {% for backup in backup_list %}
                                                                <tr>
                                                                    <th scope="row">{{forloop.counter}}</th>
                                                                    <td data-id="name-{{backup.name}}" data-type="name">{{backup.name}}</td>
                                                                    <td data-id="status-{{backup.status}}" data-type="status">{{backup.status}}</td>
                                                                    {% comment %} <td><a class="btn btn-primary" href="backup/{{backup.id}}" type="submit">Edit</a></td>
                                                                    <td><a class="btn btn-primary" href="restore/{{backup.id}}" type="submit">Restore</a></td> {% endcomment %}
                                                                    <td class="text-center">
                                                                        <a class="btn btn-primary view-button-step2" href="{% url 'restore_backup' backup.id %}" type="submit">Restore</a>
                                                                        <a class="btn btn-primary" href="backup/{{backup.id}}/edit" type="submit">Edit</a>
                                                                        <form class="deleteForm" data-id="{{backup.id}}"  action="backup/{{backup.id}}/delete" method="POST" style="display: inline-block;">
                                                                            {% csrf_token %}
                                                                        </form>
                                                                        <button type="button" data-id="{{backup.id}}" data-bs-toggle="modal" data-bs-target="#deleteModal" class="btn btn-danger" style="width: 1px; height:42px">
                                                                            <i class="feather icon-trash-2"style="display: flex; justify-content: center; align-items: center;"></i>
                                                                        </button>
                                                                    </td>
                                                                </tr>
                                                                {% endfor %}
                                                            </tbody>
                                                        </table>
                                                        {% else %}
                                                        <p>No backups are done yet.</p>
                                                        {% endif %}
                                                        <div class="text-center">
                                                            <a class="btn btn-primary" href="backup/add" type="submit">Backup Now</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                    {% endif %}
                                </div>
                            </div> 
                        </div>
                    </div>
                    <!-- Delete new confirmation modal -->
                    <div id="deleteModal" class="modal fade" tabindex="-1" role="dialog"
                    aria-labelledby="deleteAssetGroupModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="deleteAssetGroupModalLabel">
                                    Confirm Delete
                                </h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <p>Are you sure you want to delete this Backup?</p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn  btn-secondary"
                                    data-bs-dismiss="modal">Close</button>
                                <button type="button" class="btn btn-danger" id="confirmDelete">Delete</button>
                            </div>
                        </div>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </div>   
{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}


<!-- tour Js -->
<script src="{% static 'assets/js/plugins/intro.min.js' %}"></script>
<script type="module" src="{% static 'assets/js/pages/ac-tour-first-step.js' %}"></script>
<script type="text/javascript">
    $('.btn-danger').click(function() {
        // Get the instrument id from the data attribute . is by class
        var recordId = $(this).data('id');
        
        // Store the instrument id in a data attribute of the confirmDelete button # is by id
        $('#confirmDelete').data('id', recordId);
    });
    
    // When the confirmDelete button is clicked
    $('#confirmDelete').click(function() {
        // Get the instrument id from the data attribute
        var recordId = $(this).data('id');
        // Submit the form for the specific instrument
        $('form.deleteForm[data-id="' + recordId + '"]').submit();
    });

</script>

{% endblock javascripts %}