{% extends "layouts/base.html" %}
{% load static %}

{% block title %} Profile {% endblock %} 

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <!-- [ Main Content ] start -->
    <div class="pcoded-main-container">
        <div class="pcoded-wrapper">

            <div class="pcoded-content">
                <div class="pcoded-inner-content">
                    <div class="main-body">
                        <div class="page-wrapper">
                            <!-- [ Main Content ] start -->
                            <div class="row">
                                <div class="col-sm-8">
                                    <div class="card">
                                        <div class="card-header">
                                            <h5>Edit Info</h5>
                                        </div>
                                        <div class="card-block">
                                            <div class="row">
                                                <div class="form-container" style="width: 100%;padding:15px;">
                                                    <form method="post" class="needs-validation" novalidate action="">
                                                        {% csrf_token %}
                                                        <div class="row">
                                                            <div class="col-sm-6 mb-4">
                                                                <div class="form-group">
                                                                    <label for="lblUsername">Username</label>
                                                                    <input class="form-control" id="txtUsername" readonly value="{{ request.user.username }}">
                                                                </div>
                                                            </div>
                                                            <div class="col-sm-6 mb-4">
                                                                <div class="form-group">
                                                                    <label {% if not request.user.email %} class="text-danger" {% endif %} 
                                                                           for="lblEmailAddress">Email address</label>
                                                                    <input type="email"
                                                                           {% if request.user.email %} readonly value="{{ request.user.email }}" {% endif %}  
                                                                           class="form-control" id="txtEmail" placeholder="Enter email">
                                                                </div>
                                                            </div>
                                                            <div class="col-sm-6 mb-4">
                                                                <div class="form-group">
                                                                    <label for="{{ form.first_name.id_for_label }}">First Name</label>
                                                                    <input type="text" class="form-control" id="{{ form.first_name.id_for_label }}" 
                                                                    name="{{ form.first_name.name }}" placeholder="Your first name" 
                                                                    value="{%if form.first_name.value%}{{form.first_name.value}}{%endif%}">
                                                                    {% if form.first_name.errors %}
                                                                        <div class="invalid-feedback" style="display: block;font-size: 85%;" >
                                                                            <i class="feather icon-slack"></i>
                                                                            {{ form.first_name.errors |join:", " }}
                                                                        </div>
                                                                    {% endif %}
                                                                </div>
                                                            </div>
                                                            <div class="col-sm-6 mb-4">
                                                                <div class="form-group">
                                                                    <label for="{{ form.last_name.id_for_label }}">Last Name</label>
                                                                    <input type="text" class="form-control" name="{{ form.last_name.name }}"  id="{{ form.last_name.id_for_label }}" 
                                                                     placeholder="Your last name"
                                                                    value="{%if form.last_name.value%}{{form.last_name.value}}{%endif%}">
                                                                    {% if form.last_name.errors %}
                                                                        <div class="invalid-feedback" style="display: block;font-size: 85%;" >
                                                                            <i class="feather icon-slack"></i>
                                                                            {{ form.last_name.errors |join:", " }}
                                                                        </div>
                                                                    {% endif %}
                                                                </div>
                                                            </div>  
                                                            <div class="col-sm-12 mb-4">
                                                                <div class="form-group">
                                                                    <label for="{{ form.address.id_for_label }}">Address</label>
                                                                    <input type="text" class="form-control" name="{{ form.address.name }}"  id="{{ form.address.id_for_label }}" 
                                                                    placeholder="Your address"
                                                                    value="{%if form.address.value%}{{form.address.value}}{%endif%}">
                                                                    <small id="addd" class="form-text text-muted">This is your mailing address</small>
                                                                    {% if form.address.errors %}
                                                                        <div class="invalid-feedback" style="display: block;font-size: 85%;" >
                                                                            <i class="feather icon-slack"></i>
                                                                            {{ form.address.errors |join:", " }}
                                                                        </div>
                                                                    {% endif %}
                                                                </div>
                                                            </div>
                                                            <div class="col-sm-12 mb-4">
                                                                <div class="form-group">
                                                                    <label for="{{ form.bio.id_for_label }}">About Info</label>
                                                                    <textarea type="email" class="form-control" name="{{ form.bio.name }}" id="{{ form.bio.id_for_label }}" 
                                                                    aria-describedby="bioHelp" placeholder="Bio">{%if form.bio.value%}{{form.bio.value}}{%endif%}</textarea> 
                                                                    <small id="abf" class="form-text text-muted">We'll show this on your profile.</small>
                                                                    {% if form.bio.errors %}
                                                                        <div class="invalid-feedback" style="display: block;font-size: 85%;" >
                                                                            <i class="feather icon-slack"></i>
                                                                            {{ form.bio.errors|join:", " }}
                                                                        </div>
                                                                    {% endif %} 
                                                                </div>
                                                            </div>
                                                            <div class="col-sm-12 mb-4">
                                                                <div class="form-group">
                                                                    <button type="submit"  id="submitBtn" class="btn btn-primary" style="display: none;">Submit</button>
                                                                    <a href="{% url 'networth' %}" class="btn btn-secondary">Back to Home page</a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="card">
                                        <div class="card-body">
                                            <h5 class="mt-0 mb-3"><i class="mdi mdi-settings"></i>Settings</h5>
                                            <table class="table table-borderless">
                                                <tbody>
                                                    <tr>
                                                        <td class="">Networth</td>
                                                        <td class="">:</td>
                                                        <td class=""><a href="{% url 'view_networth_settings'  %}">{{networth_name}}</a></td>
                                                    </tr>
                                                    <tr>
                                                        <td class="">Unit</td>
                                                        <td class="">:</td>
                                                        <td class=""><a href="{% url 'view_base_unit'  %}">{{base_unit_name}}</a></td>
                                                    </tr>
                                                    <tr>
                                                        <td class="">Nominee</td>
                                                        <td class="">:</td>
                                                        <td class="">
                                                            <a href="{% url 'view_nominee'  %}">
                                                                {% if nominee == None %}
                                                                None
                                                                {% elif nominee != None %}
                                                                {{nominee.name}}
                                                                {% endif %}
                                                            </a>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td class="">Password</td>
                                                        <td class="">:</td>
                                                        <td class=""><a href="{% url 'change_password'  %}">Change password</a></td>
                                                    </tr>
                                                    {% comment %} <tr>
                                                        <td class="">Subscription</td>
                                                        <td class="">:</td>
                                                        <td class="">
                                                            {% if subscription_type == 'F' %}
                                                            Free
                                                            {% elif subscription_type == 'P' %}
                                                            Premium
                                                            {% else %}
                                                            NA
                                                            {% endif %}
                                                        </td>
                                                    </tr> {% endcomment %}
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    <div class="card">
                                        <div class="card-block">
                                            <div class="d-flex align-items-center justify-content-center flex-column">
                                                <div class="w-25 p-3">
                                                    <img src="{{ ASSETS_ROOT }}/images/user/avatar-2.jpg" alt="profile image"
                                                        class="img-fluid rounded-circle">
                                                </div>
                                                <div class="text-center">
                                                    <h4 class="font-weight-bold h6">
                                                        {{ request.user.username }}
                                                    </h4>
                                                    <p class="font-italic text-muted">
                                                        {% if request.user.email %} {{ request.user.email }} {% endif %}
                                                    </p>
                                                </div>
                                            </div>

                                            <div class="small font-weight-light mt-4 text-center text-muted">
                                                <p>
                                                    This page is your private space.
                                                    <br />
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- [ Main Content ] end -->
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
    <!-- [ Main Content ] end -->

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<script>
    // Get the form fields
    var firstNameField = document.getElementById('id_first_name');
    var lastNameField = document.getElementById('id_last_name');
    var addressField = document.getElementById('id_address');
    var bioField = document.getElementById('id_bio');
    var submitButton = document.getElementById('submitBtn');

    // Add event listeners to form fields
    firstNameField.addEventListener('input', updateSubmitButton);
    lastNameField.addEventListener('input', updateSubmitButton);
    addressField.addEventListener('input', updateSubmitButton);
    bioField.addEventListener('input', updateSubmitButton);

    // Function to update the submit button text
    function updateSubmitButton() {
        submitButton.innerText = 'Update';
        submitButton.style.display = 'inline';
    }
</script>
{% endblock javascripts %}
