{% extends "extsite/layouts/base.html" %}
{% load static %}

{% block title %} Online Trade Planning and Tracking Solutions for Individual Investors {% endblock %} 

<!-- Specific CSS goes HERE -->
{% block stylesheets %}


{% endblock stylesheets %}

{% block content %}	

<!-- ===============================================-->
    <!--    Main Content-->
    <!-- ===============================================-->
    <main style="--phoenix-scroll-margin-top: 1.2rem;">
        
        {% include 'extsite/includes/nav-bar.html' %}
        {% include 'extsite/includes/section-1.html' %}
        {% include 'extsite/includes/features.html' %}
        {% include 'extsite/includes/contact-us.html' %}

      </main>
      <!-- ===============================================-->
      <!--    End of Main Content-->
      <!-- ===============================================-->

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}



{% endblock javascripts %}